Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github

Delete the ISpanContextExtractor (#5355)
  tracer/src/Datadog.Trace.Manual/Datadog.Trace.Manual.csproj
  tracer/src/Datadog.Trace.Manual/SpanContextExtractor.cs
  tracer/src/Datadog.Trace/ISpanContextExtractor.cs
  tracer/src/Datadog.Trace/SpanContextExtractor.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Manual.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Changes to release process (#5356)
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/auto_update_benchmark_branches.yml
Due: none

Update GitHub token
  .github/workflows/auto-trigger-aas-release.yml
  .github/workflows/auto_deploy_aas_test_apps.yml
  .github/workflows/code_freeze_start.yml
Due: none

Upgrade cppcheck to 2.12
  .azure-pipelines/ultimate-pipeline.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add CppCheck suppressions
  profiler/cppcheck-suppressions.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LinkedList.hpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update GitHub token (#5407)
  .github/workflows/auto-trigger-aas-release.yml
  .github/workflows/auto_deploy_aas_test_apps.yml
  .github/workflows/code_freeze_start.yml
Due: none

[Profiler] Upgrade cppcheck to 2.12 (#5398)
  .azure-pipelines/ultimate-pipeline.yml
  profiler/cppcheck-suppressions.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LinkedList.hpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Check for 3rd party assemblies on symdb
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebugging.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/FrameFilter.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ThirdParty/ThirdPartyConfigurationReader.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ThirdParty/ThirdPartyModules.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/AssemblyFilter.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolsUploader.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

return empty set instead of null
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ThirdParty/ThirdPartyConfigurationReader.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ThirdParty/ThirdPartyModules.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add some new integration and shema for the blocking
  tracer/src/Datadog.Trace/AppSec/Coordinator/HttpTransportBase.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Result.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/ISignInResult.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/SignInManagerCheckPasswordSignInAsync.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/SignInManagerPasswordSignInUserIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add tag + revert some changes
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/ISignInResult.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/SignInManagerCheckPasswordSignInAsync.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/SignInManagerPasswordSignInUserIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Tags.AppSec.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add integration tests
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/SignInManagerCheckPasswordSignInAsync.cs
  tracer/src/Datadog.Trace/Tags.AppSec.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmActionsConfiguration.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ruleset.3.0.json
  tracer/test/snapshots/Security.AspNetCore5AsmActionsConfiguration.TestBlockByAuth_password=bad_password.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmActionsConfiguration.TestBlockByAuth_password=test.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix blocking on uri
  tracer/src/Datadog.Trace/AppSec/Coordinator/HttpTransportBase.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/BlockingMiddleware.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Dynamic Instrumentation] Consider 3rd party assemblies on SymDB (#5380)
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebugging.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/FrameFilter.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ThirdParty/ThirdPartyConfigurationReader.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ThirdParty/ThirdPartyModules.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/AssemblyFilter.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolsUploader.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

update env vars
  .gitlab-ci.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

update env vars (#5409)
  .gitlab-ci.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

#5377 Gone and optimized dependencies
  tracer/src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  tracer/src/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.csproj
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
  tracer/src/Datadog.Trace.Tools.Shared/Datadog.Trace.Tools.Shared.csproj
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Datadog.Trace.Tools.dd_dotnet.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

disable debugger scenarios
  .azure-pipelines/ultimate-pipeline.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Dynamic Instrumentation] Temporary disable system tests (#5411)
  .azure-pipelines/ultimate-pipeline.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[CI Visibility] - Fix ITR Code Coverage collector attach algorithm
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix type of local in async method
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncMethodDebuggerInvoker.SingleProbe.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.BaseLocalWithConcreteTypeInAsyncMethod.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.BaseLocalWithConcreteTypeInAsyncMethod.verified.txt
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/BaseLocalWithConcreteTypeInAsyncMethod.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Ignore complaints from NuGet about out of support packages
  tracer/test/test-applications/integrations/dependency-libs/Directory.Build.props
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Changes
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/Tags/EarlyFlakeDetectionTags.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Change from review
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add IsRemote to SpanContext
  tracer/src/Datadog.Trace/Propagators/B3MultipleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/B3SingleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/DatadogContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/DistributedContextExtractor.cs
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3MultipleHeadersPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3SingleHeaderPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DatadogPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DistributedPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/MultiSpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/SpanContextMock.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CTraceContextPropagatorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

DistributedContextExtractor shouldn't be remote
  tracer/src/Datadog.Trace/Propagators/DistributedContextExtractor.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DistributedPropagatorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Set IsRemote via SpanContext ctor
  tracer/src/Datadog.Trace/Propagators/B3MultipleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/B3SingleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/DatadogContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
  tracer/src/Datadog.Trace/SpanContext.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix type of local in async method (#5414)
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncMethodDebuggerInvoker.SingleProbe.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.BaseLocalWithConcreteTypeInAsyncMethod.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.BaseLocalWithConcreteTypeInAsyncMethod.verified.txt
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/BaseLocalWithConcreteTypeInAsyncMethod.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[CI Visibility] - Fix ITR Code Coverage collector attach algorithm (#5412)
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix ctor access modifiers
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TracingIntegrationTest.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add helpers RunSampleWithAllTracingDisabled() and RunSampleWithIntegrationDisabled()
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TracingIntegrationTest.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add Elasticsearch7 tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch7Tests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add comment
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add HttpMessageHandler tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

use MockTracerAgent.Spans instead of WaitForSpans()
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TracingIntegrationTest.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

comment telemetry assertion (hanging) [skip ci]
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add FlushProfile public method
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/datadog_profiling.version
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.def
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/PInvoke.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/PInvoke.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add Managed code to flush profile
  tracer/src/Datadog.Trace/ContinuousProfiler/NativeInterop.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Clean docker before running
  .azure-pipelines/steps/run-snapshot-test.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Move to a helper
  .azure-pipelines/steps/clean-docker-containers.yml
  .azure-pipelines/steps/run-snapshot-test.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml
