Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github

[ASM][v3] Update template env var meaning (#5166)
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5BlockingTemplates.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCoreBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCoreWithExternalRulesFileBase.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecuritySettingsTests.cs
  tracer/test/snapshots/Security.AspNetCore5.SecurityBlockingTemplatesHtml.__test=server.request.uri.raw_expectedStatusCode=403_url=_health-q=fun.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityBlockingTemplatesJson.__test=server.request.uri.raw_expectedStatusCode=403_url=_Home_Privacy-q=fun.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Samples.Security.AspNetCore5.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/blocking-template1.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/blocking-template2.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Update manual throughput tests (#5183)
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/ThroughputComparison/CompareThroughput.cs
  tracer/build/crank/Samples.AspNetCoreSimpleController.yml
  tracer/build/crank/run.sh
  tracer/test/test-applications/throughput/Samples.AspNetCoreSimpleController/Program.cs
  tracer/test/test-applications/throughput/Samples.AspNetCoreSimpleController/Samples.AspNetCoreSimpleController.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix GrpcClient nullability issue
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/GrpcLegacyClientCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Add unit tests for the `[Instrumented]` attribute (#5259)
  tracer/src/Datadog.Trace.Manual/Configuration/IntegrationSettingsCollection.cs
  tracer/src/Datadog.Trace.OpenTracing/OpenTracingTracerFactory.cs
  tracer/test/Datadog.Trace.OpenTracing.Tests/Datadog.Trace.OpenTracing.Tests.csproj
  tracer/test/Datadog.Trace.OpenTracing.Tests/OpenTracingInstrumentationTests.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/DatadogTraceManualInstrumentationTests.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/InstrumentationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix rebasing issue
  tracer/src/Datadog.Trace.Manual/Datadog.Trace.Manual.csproj
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Manual.PublicApiHasNotChanged.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Changes to release process (#5356)
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/auto_update_benchmark_branches.yml
Due: none

[v3] Change defaults for WCF settings (#5324)
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Delete the ISpanContextExtractor (#5355)
  tracer/src/Datadog.Trace.Manual/Datadog.Trace.Manual.csproj
  tracer/src/Datadog.Trace.Manual/SpanContextExtractor.cs
  tracer/src/Datadog.Trace/ISpanContextExtractor.cs
  tracer/src/Datadog.Trace/SpanContextExtractor.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Manual.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Add migration doc for v2 -> v3 (#5091)
  docs/MIGRATING.md
Due: none

[v3] Build against macos-12 instead of macos-11 (#5395)
  docs/MIGRATING.md
Due: none

Update MIGRATING.md
  docs/MIGRATING.md
Due: none

[v3] Fix `SpanContextInjectorExtractorTests` to account for `tracestate` (#5479)
  tracer/test/Datadog.Trace.Tests/SpanContextInjectorExtractorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add integration test for DSM manual instrumentation API (#5419)
  Datadog.Trace.OSX.slnf
  Datadog.Trace.sln
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsContextPropagator.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DataStreamsMonitoringManualApiTest.cs
  tracer/test/snapshots/DataStreamsMonitoringManualApiTest.ContextPropagation.verified.txt
  tracer/test/test-applications/integrations/Samples.DataStreams.ManualAPI/Program.cs
  tracer/test/test-applications/integrations/Samples.DataStreams.ManualAPI/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.DataStreams.ManualAPI/Samples.DataStreams.ManualAPI.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Don't bail out of instrumentation if `DD_TRACE_ENABLED=0` (#5420)
  docs/MIGRATING.md
  tracer/build/_build/ThroughputComparison/CompareThroughput.cs
  tracer/build/crank/Samples.AspNetCoreSimpleController.yml
  tracer/build/crank/run.sh
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  tracer/src/Datadog.Trace/AgentProcessManager.cs
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables_util.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables_util.h
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TracerTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Remove unnecessary System.Net.Http dependency from v3 (#5418)
  tracer/src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  tracer/test/Datadog.Trace.OpenTracing.Tests/Datadog.Trace.OpenTracing.Tests.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Require `ICorProfilerInfo9` for instrumentation (#5493)
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.NetCore.cs
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Update behavior of header tags parsing (AIT-8600) (#5438)
  docs/MIGRATING.md
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/StringConfigurationSource.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/StringConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3-main] fix tests that rebase broke (#5638)
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/test/snapshots/OpenTracingTests.CustomServiceName.verified.txt
  tracer/test/snapshots/OpenTracingTests.MinimalSpan.verified.txt
  tracer/test/snapshots/OpenTracingTests.Utf8Everywhere.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityBlockingTemplatesHtml.__test=server.request.uri.raw_expectedStatusCode=403_url=_health-q=fun.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityBlockingTemplatesJson.__test=server.request.uri.raw_expectedStatusCode=403_url=_Home_Privacy-q=fun.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Rebasing fixes
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update Migrating doc
  docs/MIGRATING.md
Due: none

[v3] Small bug fixes (#5656)
  docs/MIGRATING.md
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace.Manual/Stubs/NullSpan.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Tracer/GetActiveScopeIntegration.cs
  tracer/src/Datadog.Trace/ISpan.cs
  tracer/src/Datadog.Trace/Span.ISpan.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/AspNetVersionConflictTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Manual.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
  tracer/test/test-applications/aspnet/Samples.AspNet.VersionConflict/Controllers/HomeController.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.VersionConflict/Samples.AspNet.VersionConflict.csproj
  tracer/test/test-applications/aspnet/Samples.AspNet.VersionConflict/packages.config
  tracer/test/test-applications/integrations/Samples.ManualInstrumentation/Program.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[V3] Remove Datadog.Trace.AspNet module (#5640)
  Datadog.Trace.sln
  docs/MIGRATING.md
  shared/src/msi-installer/Tracer/Files.Managed.Net461.GAC.wxs
  shared/src/msi-installer/Tracer/Files.Managed.Net461.wxs
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
  tracer/build/_build/Projects.cs
  tracer/src/Datadog.Trace.AspNet/AssemblyInfo.cs
  tracer/src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  tracer/src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  tracer/test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  tracer/test/Datadog.Trace.Tests/PublicApiTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Update native loader to explicitly handle alpine (#5593)
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentHelper.cs
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_dispatcher.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/loader.conf
  shared/src/Datadog.Trace.ClrProfiler.Native/util.h
  tracer/build/_build/Build.Steps.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add global flag to prevent the profiler from stackwalking while the app is crashing
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Explicitly pass through the TF_BUILD variable
  .azure-pipelines/steps/run-in-docker.yml
  docker-compose.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Use azure-windows-scale-set-2 instead
  .azure-pipelines/ultimate-pipeline.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add back missing code
  tracer/src/Datadog.Trace/AppSec/Security.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

make folder copy work in chiseled smoke test setup
  tracer/build/_build/docker/smoke.chiseled.dockerfile
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Capture exception
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add workflow monitor to all workflows
  .github/workflows/auto-trigger-aas-release.yml
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_code_freeze_block_pr.yml
  .github/workflows/auto_deploy_aas_test_apps.yml
  .github/workflows/auto_label_prs.yml
  .github/workflows/auto_update_benchmark_branches.yml
  .github/workflows/code_freeze_end.yml
  .github/workflows/code_freeze_start.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-system-test-docker-base-images.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/datadog-static-analysis.yml
  .github/workflows/lib-injection-test.yml
  .github/workflows/lib-injection.yml
  .github/workflows/override_version_bump_pr_checks.yml
Due: none

include all spans in snapshots
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/OracleTests.cs
  tracer/test/snapshots/OracleTests.SchemaV0.verified.txt
  tracer/test/snapshots/OracleTests.SchemaV1.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Try fixing flake in activity handler
  tracer/src/Datadog.Trace/Activity/Handlers/ActivityHandlerCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Use telemetry metrics files to avoid flackiness
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/TelemetryMetricsWorker.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TelemetryMetric.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TelemetryMetricsFileParser.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TelemetryMetricsFileParserHelpers.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SingleStepInstrumentation/SingleStepInstrumentationTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/TelemetryMetricTest.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracing] fix precedence of remote vs local sampling rules (#5720)
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DynamicConfigurationTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/DynamicConfigurationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

test almost working, just need iron stuff and remove logs
  tracer/src/Datadog.Trace/AppSec/Rcm/ConfigurationStatus.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmFeatureUserId.cs
  tracer/test/snapshots/Security.AspNetCore5AsmFeatureUserId._.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

include correct snapshot
  tracer/test/snapshots/Security.AspNetCore5AsmFeatureUserId._.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml
