Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github

Fix workflow
  .github/workflows/advisor.yml
Due: none

add dlclose hook + fix windwos and macos build
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
  shared/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  shared/src/Datadog.Trace.ClrProfiler.Native/dllmain.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/symbols_overrides.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Stop running it with every push
  .github/workflows/advisor.yml
Due: none

Make BuildTracerHome build the native profiler (#5750)
  tracer/build/_build/Build.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix profiler build warning
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Support "auto" configuration in Tracer settings
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix build
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
  profiler/test/Datadog.Linux.ApiWrapper.Tests/WrappedFunctions.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[ASM] Capture ObjectDisposedException (#5732)
  tracer/src/Datadog.Trace/AppSec/Coordinator/HttpTransportBase.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

prevent instrumentation of versions that don't exist yet
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/Oracle/OracleDefinitions.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Updated to set the span_id and raw version correctly
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/test/Datadog.Trace.Tests/Propagators/MultiSpanContextPropagatorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update autogenerated
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_net461.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_net6_0.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_netcoreapp3_1.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_netstandard2_0.g.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add comment
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Test Package Versions Bump]
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Revert "Add workflow monitor to all workflows (#5733)" (#5741)
  .github/workflows/auto-trigger-aas-release.yml
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_code_freeze_block_pr.yml
  .github/workflows/auto_deploy_aas_test_apps.yml
  .github/workflows/auto_label_prs.yml
  .github/workflows/auto_update_benchmark_branches.yml
  .github/workflows/code_freeze_end.yml
  .github/workflows/code_freeze_start.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-system-test-docker-base-images.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/datadog-static-analysis.yml
  .github/workflows/lib-injection-test.yml
  .github/workflows/lib-injection.yml
  .github/workflows/override_version_bump_pr_checks.yml
Due: none

Skip tests on .NET Core 2.1
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageRewriteTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add .g.h files
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_net461.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_net6_0.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_netcoreapp3_1.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_netstandard2_0.g.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Replace explicit skips with soft skips for non-flake
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebFormsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Azure/AzureServiceBusTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Azure/DataStreamsMonitoringAzureServiceBusTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CosmosTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/StackExchangeRedisAssemblyConflictLegacyProjectSmokeTest.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore2RateLimiter.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5RateLimiter.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5RateLimiter.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Added support for value type by ref arguments
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_analysis.cpp
  tracer/src/Datadog.Tracer.Native/iast/signature_types.cpp
  tracer/src/Datadog.Tracer.Native/iast/signature_types.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Change default filters to all include (SkipInCI!=True)
  tracer/build/_build/Build.Steps.Debugger.cs
  tracer/build/_build/Build.Steps.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Replace re-directed dotnet-install.ps1
  .azure-pipelines/steps/install-dotnet-sdk-manually.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update the windows smoke test files
  tracer/build/_build/docker/smoke.windows.dd-dotnet.dockerfile
  tracer/build/_build/docker/smoke.windows.dockerfile
  tracer/build/_build/docker/smoke.windows.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.windows.nuget.dd-dotnet.dockerfile
  tracer/build/_build/docker/smoke.windows.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.tracer-home.dockerfile
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Get Innovation Week demo working
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/FakeProbeCreator.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/CaptureInfo.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeProcessor.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/MethodDebuggerInvoker.MultiProbe.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotCreator.cs
  tracer/src/Datadog.Trace/Debugger/SpanOrigin/SpanOriginProbeProcessor.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RemoteConfigurationManager.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Change unknown_service to DefaultServiceName
  Datadog.Trace.sln
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/OpenTelemetry/ResourceAttributeProcessorHelper.cs
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
  tracer/test/test-applications/integrations/Samples.Hangfire/Program.cs
  tracer/test/test-applications/integrations/Samples.Hangfire/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Hangfire/Samples.Hangfire.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add comment describing unknown_service
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/OpenTelemetry/ResourceAttributeProcessorHelper.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Use StringComparison.Ordinal for unknown_service
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/OpenTelemetry/ResourceAttributeProcessorHelper.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove using
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/OpenTelemetry/ResourceAttributeProcessorHelper.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Extracting Last Parent Id If Conflicting SpanIds are Found with The W3C Headers (#5721)
  docker-compose.windows.yml
  docker-compose.yml
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanTagAssertion.cs
  tracer/test/Datadog.Trace.Tests/Propagators/MultiSpanContextPropagatorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update snapshots
  Datadog.Trace.sln
  tracer/test/snapshots/OpenTelemetrySdkTests.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTestsWithActivitySource.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTestsWithActivitySource_1_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTestsWithActivitySource_up_to_1_5_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTestsWithActivitySource_up_to_1_7_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_1_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_1_0_withLegacyOperationName.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_up_to_1_5_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_up_to_1_5_0_withLegacyOperationName.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_up_to_1_7_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_up_to_1_7_0_withLegacyOperationName.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_withLegacyOperationName.verified.txt
  tracer/test/test-applications/integrations/Samples.Hangfire/Program.cs
  tracer/test/test-applications/integrations/Samples.Hangfire/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Hangfire/Samples.Hangfire.csproj
  tracer/test/test-applications/integrations/Samples.OpenTelemetrySdk/Program.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Undo unexpected changes
  Datadog.Trace.sln
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Initial CallSite support
  tracer/src/Datadog.Trace.Tools.AotProcessor/Interfaces/IMetaDataEmit.cs
  tracer/src/Datadog.Trace.Tools.AotProcessor/Interfaces/IMetaDataImport.cs
  tracer/src/Datadog.Trace.Tools.AotProcessor/Program.cs
  tracer/src/Datadog.Trace.Tools.AotProcessor/Runtime/ModuleMetadata.NotImplemented.cs
  tracer/src/Datadog.Trace.Tools.AotProcessor/Runtime/ModuleMetadata.cs
  tracer/src/Datadog.Trace.Tools.AotProcessor/Runtime/Rewriter.cs
  tracer/test/test-applications/aot/Samples.Aot/Properties/PublishProfiles/FolderProfile.pubxml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Implement trace context propagation feature to ignore the parent sampling flag during extraction. This feature is disabled by default.
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagatorFactory.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Tests/DistributedTraceTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3MultipleHeadersPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3SingleHeaderPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DatadogPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DistributedPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/MultiSpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CTraceContextPropagatorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Minor github action changes (#5734)
  .github/workflows/code_freeze_end.yml
  .github/workflows/code_freeze_start.yml
  .github/workflows/override_version_bump_pr_checks.yml
Due: none

Skip flaky tests on .NET Core 2.1 (#5753)
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageRewriteTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Bail out on known-faulty .NET 6 version in SSI
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Move GetContentEncoding implementation to shared extensions, extract common functions, and add tests
  tracer/src/Datadog.Trace/Agent/IApiResponse.cs
  tracer/src/Datadog.Trace/HttpOverStreams/HttpMessage.cs
  tracer/src/Datadog.Trace/Util/EncodingHelpers.cs
  tracer/test/Datadog.Trace.Tests/Agent/ApiResponseExtensionsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Rename ContentEncoding property to GetCharsetEncoding()
  tracer/src/Datadog.Trace/Agent/IApiResponse.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebResponse.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientResponse.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamResponse.cs
  tracer/test/Datadog.Trace.TestHelpers/TransportHelpers/TestApiResponse.cs
  tracer/test/Datadog.Trace.Tests/Agent/ApiResponseExtensionsTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/ApiTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/LogsApiTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Expose the ContentEncoding header (and parsed value) in IApiResponse
  tracer/src/Datadog.Trace/Agent/ContentEncodingType.cs
  tracer/src/Datadog.Trace/Agent/IApiResponse.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebResponse.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientResponse.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamResponse.cs
  tracer/test/Datadog.Trace.TestHelpers/TransportHelpers/TestApiResponse.cs
  tracer/test/Datadog.Trace.Tests/Agent/ApiResponseExtensionsTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix visibility
  tracer/src/Datadog.Trace/Agent/ContentEncodingType.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml
