Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github

Distinguish invalid Base64 input lengths in DSM errors
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsContextPropagator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Debugger] Tag dynamic metric points with debugger.probeid alongside probe-id (#9285)
  tracer/src/Datadog.Trace/Debugger/DynamicInstrumentation.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update tracer/src/Datadog.Trace/OtelTraceState.cs
  tracer/src/Datadog.Trace/OtelTraceState.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

perf(otlp): remove redundant trace state path
  tracer/src/Datadog.Trace/OpenTelemetry/Traces/OtlpTracesJsonSerializer.cs
  tracer/test/Datadog.Trace.Tests/OpenTelemetry/Traces/OtlpTracesJsonSerializerTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Synchronize ReJIT state access
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/debugger_rejit_handler_module_method.cpp
  tracer/src/Datadog.Tracer.Native/debugger_rejit_handler_module_method.h
  tracer/src/Datadog.Tracer.Native/debugger_rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
  tracer/src/Datadog.Tracer.Native/rejit_handler.h
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.cpp
  tracer/test/Datadog.Tracer.Native.Tests/CMakeLists.txt
  tracer/test/Datadog.Tracer.Native.Tests/Datadog.Tracer.Native.Tests.vcxproj
  tracer/test/Datadog.Tracer.Native.Tests/Datadog.Tracer.Native.Tests.vcxproj.filters
  tracer/test/Datadog.Tracer.Native.Tests/rejit_concurrency_test.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Start probe concurrency workers together
  tracer/test/Datadog.Tracer.Native.Tests/rejit_concurrency_test.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Security] Fix shell injection in publish_debug_symbols.yml
  .github/workflows/publish_debug_symbols.yml
Due: none

Fix shell injection in _create_draft_release.yml Set SHA step
  .github/workflows/_create_draft_release.yml
Due: none

Fix shell injection in scheduled_aas_deploy/code_freeze.yml
  .github/workflows/scheduled_aas_deploy.yml
  .github/workflows/scheduled_code_freeze.yml
Due: none

Fix shell injection in release-triggered workflows
  .github/workflows/auto-trigger-aas-release.yml
  .github/workflows/auto_create_version_bump_pr.yml
Due: none

[Tracer] Check probe presence without copying the probe list
  tracer/src/Datadog.Tracer.Native/debugger_probes_instrumentation_requester.cpp
  tracer/src/Datadog.Tracer.Native/debugger_rejit_handler_module_method.cpp
  tracer/src/Datadog.Tracer.Native/debugger_rejit_handler_module_method.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Keep ReJIT requests bound to module generations
  tracer/src/Datadog.Tracer.Native/Synchronized.hpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.h
  tracer/src/Datadog.Tracer.Native/debugger_probes_instrumentation_requester.cpp
  tracer/src/Datadog.Tracer.Native/debugger_probes_instrumentation_requester.h
  tracer/src/Datadog.Tracer.Native/debugger_rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/debugger_rejit_preprocessor.h
  tracer/src/Datadog.Tracer.Native/fault_tolerant_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/fault_tolerant_tracker.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow.h
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
  tracer/src/Datadog.Tracer.Native/rejit_handler.h
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.h
  tracer/test/Datadog.Tracer.Native.Tests/dataflow_test.cpp
  tracer/test/Datadog.Tracer.Native.Tests/mock_cor_profiler_info.h
  tracer/test/Datadog.Tracer.Native.Tests/rejit_concurrency_test.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Make NGen unload race test wait on preprocessor cleanup
  tracer/test/Datadog.Tracer.Native.Tests/rejit_concurrency_test.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Add NGen unload race regression test
  tracer/test/Datadog.Tracer.Native.Tests/rejit_concurrency_test.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Keep module unload serialized with NGen inliner replay after shutdown
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Avoid unordered_map reserve pulling ceil into the native tracer
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix token timing out
  .azure-pipelines/ultimate-pipeline.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix various minor issues identified in .NET 11 update (#9280)
  .vsconfig
  tracer/src/Datadog.Trace/Debugger/Configurations/ProbeConfigurationComparer.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreEndpointRoutingTestData.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreMvcTestData.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreRazorPagesTestData.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/ErrorHandlingHelper.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/EncoderUnitTests.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentTools.cs
  tracer/test/Datadog.Trace.Tests/Util/StringUtilTests.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/RunCommandTests.cs
  tracer/test/test-applications/integrations/Samples.GraphQL4/StarWarsExtensions/StarWarsSubscription.cs
  tracer/test/test-applications/integrations/Samples.HotChocolate/ErrorMiddleware.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Trim prerelease SDK version for smoke-test DOTNETSDK_VERSION build-arg
  tracer/build/_build/Build.SmokeTests.cs
  tracer/build/_build/Build.Utilities.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix Nuke build issue
  tracer/build.ps1
  tracer/build.sh
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update clang-tidy checks list to explicitly include clang-analyzer-*
  tracer/build/_build/Build.Profiler.Steps.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Pass NUKE_TELEMETRY_OPTOUT through in docker-compose to avoid spurious warnings in logs
  docker-compose.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update ClrMD to support .NET 11
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Datadog.Trace.Tools.dd_dotnet.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Bump the version used to build dd_dotnet
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update dd_dotnet tests to .NET 10 too (no good reason not to AFAICT)
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Datadog.Trace.Tools.dd_dotnet.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.IntegrationTests/Datadog.Trace.Tools.dd_dotnet.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.Tests/Datadog.Trace.Tools.dd_dotnet.Tests.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Change ownership of timeit benchmarks (#9284)
  .github/CODEOWNERS
Due: none

Copy ASP.NET Core activity tags we haven't set, instead of filtering them
  tracer/src/Datadog.Trace/PlatformHelpers/AspNetCoreHttpRequestHandler.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fixup! Copy ASP.NET Core activity tags we haven't set, instead of filtering them
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV0Rules.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV1Rules.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Temporarily skip .NET 11 runtime-async methods in both IL rewriters
  tracer/src/Datadog.Tracer.Native/debugger_constants.h
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/tracer_method_rewriter.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Read method impl flags into FunctionInfo, add miAsync
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj.filters
  tracer/src/Datadog.Tracer.Native/clr_helpers.cpp
  tracer/src/Datadog.Tracer.Native/clr_helpers.h
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/runtime_async.h
  tracer/test/Datadog.Tracer.Native.Tests/clr_helper_test.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add runtime-async effective return type mapping
  tracer/src/Datadog.Tracer.Native/CMakeLists.txt
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj.filters
  tracer/src/Datadog.Tracer.Native/clr_helpers.h
  tracer/src/Datadog.Tracer.Native/runtime_async.cpp
  tracer/src/Datadog.Tracer.Native/runtime_async.h
  tracer/test/Datadog.Tracer.Native.Tests/CMakeLists.txt
  tracer/test/Datadog.Tracer.Native.Tests/Datadog.Tracer.Native.Tests.vcxproj
  tracer/test/Datadog.Tracer.Native.Tests/runtime_async_test.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Verify runtime-async methods in InstrumentedAssemblyVerification
  tracer/src/Datadog.InstrumentedAssemblyVerification/PrepareMethodVerification.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Instrument runtime-async methods
  tracer/src/Datadog.Tracer.Native/tracer_method_rewriter.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Emit EndMethodRuntimeAsync memberrefs, detect availability
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.h
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
  tracer/src/Datadog.Tracer.Native/tracer_tokens.cpp
  tracer/src/Datadog.Tracer.Native/tracer_tokens.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add managed EndMethodRuntimeAsync entry points
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/CallTargetInvoker.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/RuntimeAsyncEndMethodHandler.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/RuntimeAsyncEndMethodHandler`1.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/RuntimeAsyncHelper.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add a .NET 11 snapshot suffix for the ASP.NET Core suites
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AutoInstrumentation/AspNetCore/AspNetCoreIisMvcTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AutoInstrumentation/AspNetCore/AspNetCoreMvcTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AutoInstrumentation/AspNetCore/OtlpAspNetCoreTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AutoInstrumentation/GraphQLTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AutoInstrumentation/GrpcTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AutoInstrumentation/HotChocolateTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AutoInstrumentation/OcelotDistributedTracingTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Tracing/OpenTelemetrySdkTests.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml
