Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github

Remove not needed
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecBenchmarkUtils.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Dynamic Instrumentation] DEBUG-4871 Added a managed guard in LogLocal and LogArg to detect null byrefs (#7986)
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncLineDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncMethodDebuggerInvoker.SingleProbe.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/LineDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/MethodDebuggerInvoker.SingleProbe.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

use base hash
  tracer/src/Datadog.Trace/BaseHash.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/CommandExecuteNonQueryAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/CommandExecuteNonQueryIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/CommandExecuteNonQueryWithBehaviorIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/CommandExecuteReaderAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/CommandExecuteReaderIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/CommandExecuteReaderWithBehaviorAndCancellationAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/CommandExecuteReaderWithBehaviorAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/CommandExecuteReaderWithBehaviorIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/CommandExecuteReaderWithCancellationAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/CommandExecuteScalarAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/CommandExecuteScalarIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/CommandExecuteScalarWithBehaviorIntegration.cs
  tracer/src/Datadog.Trace/PlatformHelpers/ContainerMetadata.cs
  tracer/src/Datadog.Trace/ProcessTags.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

nullability in container metadata
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/PlatformHelpers/ContainerMetadata.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update Datadog.Serverless.Compat version
  tracer/src/Datadog.AzureFunctions/Datadog.AzureFunctions.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix Benchmark tests (#8082)
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecBenchmarkUtils.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Dynamic Instrumentation] Add NullByRefArgAndLocal test (#7987)
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/NullByRefArgAndLocal.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix ASP.NET Core Diagnostic Observer's incorrect Activity copying (#8054)
  tracer/src/Datadog.Trace/Activity/OtlpHelpers.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/SingleSpanAspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/PlatformHelpers/AspNetCoreHttpRequestHandler.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreActivityTagsTests.cs
  tracer/test/test-applications/integrations/Samples.AspNetCoreMinimalApis/Program.cs
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc21/Shared/ActivityMiddleware.cs
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc21/Startup.cs
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc30/Startup.cs
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc31/Startup.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Support multiple expression compilations
  tracer/src/Datadog.Trace/Debugger/Expressions/ExpressionCacheKey.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionEvaluator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Debugger: optimize ProbeExpressionEvaluator compiled-expression caching
  tracer/src/Datadog.Trace/Debugger/Expressions/CompiledProbeExpressions.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ExpressionCacheKey.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/MethodScopeMembers.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionEvaluator.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionsBucket.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionsBucketKey.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionsCacheEntry.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

update trimming file
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update Datadog.Serverless.Compat version (#8085)
  tracer/src/Datadog.AzureFunctions/Datadog.AzureFunctions.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[EL] DEBUG-4879 Support multiple expression compilations (#7994)
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Debugger/Expressions/CompiledProbeExpressions.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/MethodScopeMembers.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionEvaluator.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionsBucket.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionsBucketKey.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionsCacheEntry.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Feature Flags] Fix ISO 8601 date parsing to support variable precision
  tracer/src/Datadog.Trace/FeatureFlags/FeatureFlagsEvaluator.cs
  tracer/test/Datadog.Trace.Tests/FeatureFlags/FeatureFlagsEvaluatorTests.Bundle.cs
  tracer/test/Datadog.Trace.Tests/FeatureFlags/FeatureFlagsEvaluatorTests.cs
  tracer/test/Datadog.Trace.Tests/FeatureFlags/resources/config/flags-v1.json
  tracer/test/Datadog.Trace.Tests/FeatureFlags/resources/data/test-case-microsecond-date-flag.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add feature-flagging-and-experimentation-sdk as code owners for FFE code
  .github/CODEOWNERS
Due: none

Fix serialization logic to resize bytes to hold the serialized JSON, so long as the required size is less than the maximum buffer size configured for the tracer
  tracer/src/Datadog.Trace/Agent/SpanBuffer.cs
  tracer/src/Datadog.Trace/OpenTelemetry/Traces/OtlpTracesSerializer.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix the DD span to OTLP span conversion by correctly invoking the TagWriter processor
  tracer/src/Datadog.Trace/OpenTelemetry/Traces/OtlpMapper.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove excess console logging of the OTLP trace in JSON in ApiOtlp
  tracer/src/Datadog.Trace/Agent/ApiOtlp.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Cache condition regexes
  tracer/src/Datadog.Trace/FeatureFlags/FeatureFlagsEvaluator.cs
  tracer/src/Datadog.Trace/FeatureFlags/Rcm/Model/ConditionConfiguration.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Initial test.final_status tag implementation
  tracer/src/Datadog.Trace/Ci/Tagging/TestSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tags/TestTags.cs
  tracer/src/Datadog.Trace/Ci/Test.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/Common.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/SkipTestMethodExecutor.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodAttributeExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunSingleTestAsyncIntegration3_8.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunSingleTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunSingleTestIntegration3_8.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/FlakyRetryBehavior.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/TestOptimizationTestCommand.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/TestCaseMetadata.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/V3/XUnitTestMethodRunnerBaseRunTestCaseV3Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitTestRunnerRunAsyncIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TagListGenerator/TestSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TagListGenerator/TestSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TagListGenerator/TestSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TagListGenerator/TestSpanTags.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/TestingFrameworkEvpTest.cs
  tracer/test/Datadog.Trace.Tests/Ci/TestFinalStatusTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

update snapshots
  tracer/test/snapshots/MsTestV2EvpTests.AttemptToFixTests_packageVersion=post_2_2_4_quarantined_tests.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.AttemptToFixTests_packageVersion=pre_2_2_4_quarantined_tests.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.DisabledTests_packageVersion=post_2_2_4_quarantined_tests.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.DisabledTests_packageVersion=pre_2_2_4_quarantined_tests.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.EarlyFlakeDetection_packageVersion=post_2_2_4_all_efd.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.EarlyFlakeDetection_packageVersion=post_2_2_4_efd_with_test_bypass.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.EarlyFlakeDetection_packageVersion=pre_2_2_4_all_efd.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.EarlyFlakeDetection_packageVersion=pre_2_2_4_efd_with_test_bypass.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.QuarantinedTests_packageVersion=post_2_2_4_quarantined_tests.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.QuarantinedTests_packageVersion=pre_2_2_4_quarantined_tests.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.SubmitTraces_packageVersion=post_2_2_4.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.SubmitTraces_packageVersion=pre_2_2_4.verified.txt
  tracer/test/snapshots/MsTestV2Tests.SubmitTraces_packageVersion=post_2_2_4.verified.txt
  tracer/test/snapshots/MsTestV2Tests.SubmitTraces_packageVersion=pre_2_2_4.verified.txt
  tracer/test/snapshots/MsTestV2Tests2.SubmitTraces_packageVersion=post_2_2_4.verified.txt
  tracer/test/snapshots/MsTestV2Tests2.SubmitTraces_packageVersion=pre_2_2_4.verified.txt
  tracer/test/snapshots/NUnitEvpTests.AttemptToFixTests_quarantined_and_disabled.verified.txt
  tracer/test/snapshots/NUnitEvpTests.DisabledTests_disabled_tests.verified.txt
  tracer/test/snapshots/NUnitEvpTests.EarlyFlakeDetection_all_efd.verified.txt
  tracer/test/snapshots/NUnitEvpTests.EarlyFlakeDetection_efd_with_test_bypass.verified.txt
  tracer/test/snapshots/NUnitEvpTests.QuarantinedTests_quarantined_tests.verified.txt
  tracer/test/snapshots/NUnitEvpTests.SubmitTraces_packageVersion=all.verified.txt
  tracer/test/snapshots/NUnitTests.SubmitTraces_packageVersion=all.verified.txt
  tracer/test/snapshots/SeleniumTests.Injection_all_versions.verified.txt
  tracer/test/snapshots/XUnitEvpTests.AttemptToFixTests_quarantined_and_disabled.verified.txt
  tracer/test/snapshots/XUnitEvpTests.DisabledTests_disabled_tests.verified.txt
  tracer/test/snapshots/XUnitEvpTests.EarlyFlakeDetection_all_efd.verified.txt
  tracer/test/snapshots/XUnitEvpTests.EarlyFlakeDetection_efd_with_test_bypass.verified.txt
  tracer/test/snapshots/XUnitEvpTests.QuarantinedTests_quarantined_tests.verified.txt
  tracer/test/snapshots/XUnitEvpTestsV3.AttemptToFixTests_quarantined_and_disabled.verified.txt
  tracer/test/snapshots/XUnitEvpTestsV3.DisabledTests_disabled_tests.verified.txt
  tracer/test/snapshots/XUnitEvpTestsV3.EarlyFlakeDetection_all_efd.verified.txt
  tracer/test/snapshots/XUnitEvpTestsV3.EarlyFlakeDetection_efd_with_test_bypass.verified.txt
  tracer/test/snapshots/XUnitEvpTestsV3.QuarantinedTests_quarantined_tests.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[FFE] Cache condition regexes (#8087)
  tracer/src/Datadog.Trace/FeatureFlags/FeatureFlagsEvaluator.cs
  tracer/src/Datadog.Trace/FeatureFlags/Rcm/Model/ConditionConfiguration.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fixes
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTestsV3.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

AzureServiceBusAPMTests flakiness fix. (#8050)
  tracer/test/test-applications/integrations/Samples.AzureServiceBus.APM/Program.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Added support for Value evaluation type in OpenFeature
  tracer/src/Datadog.FeatureFlags.OpenFeature/Datadog.FeatureFlags.OpenFeature.csproj
  tracer/src/Datadog.FeatureFlags.OpenFeature/Sdk/FeatureFlagsSdk.cs
  tracer/src/Datadog.Trace/FeatureFlags/EvaluationReason.cs
  tracer/src/Datadog.Trace/FeatureFlags/IEvaluation.cs
  tracer/src/Datadog.Trace/FeatureFlags/ValueType.cs
  tracer/test/Datadog.Trace.TestHelpers/FeatureFlagsHelpers.cs
  tracer/test/Datadog.Trace.Tests/FeatureFlags/FeatureFlagsEvaluatorTests.cs
  tracer/test/test-applications/integrations/Samples.FeatureFlags/Evaluator.cs
  tracer/test/test-applications/integrations/Samples.FeatureFlags/Program.cs
  tracer/test/test-applications/integrations/Samples.OpenFeature/Evaluator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Initial implementation based on RVA (not mapping with methods...)
  profiler/src/Demos/Samples.Computer01/Samples.Computer01.csproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/DbgHelpParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/DbgHelpParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DebugInfoStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DebugInfoStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IDebugInfoStore.h
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/DebugInfoStoreTest.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Mark as flaky
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSinkTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Send logs to debugger intake
  tracer/src/Datadog.Trace/Agent/DiscoveryService/AgentConfiguration.cs
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerFactory.cs
  tracer/src/Datadog.Trace/Debugger/Upload/DiagnosticsUploadApi.cs
  tracer/src/Datadog.Trace/Debugger/Upload/LogUploadApi.cs
  tracer/src/Datadog.Trace/Debugger/Upload/SnapshotUploadApi.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[FFE] Added support for Value evaluation type in OpenFeature (#8086)
  tracer/src/Datadog.FeatureFlags.OpenFeature/Datadog.FeatureFlags.OpenFeature.csproj
  tracer/src/Datadog.FeatureFlags.OpenFeature/Sdk/FeatureFlagsSdk.cs
  tracer/src/Datadog.Trace/FeatureFlags/EvaluationReason.cs
  tracer/src/Datadog.Trace/FeatureFlags/IEvaluation.cs
  tracer/src/Datadog.Trace/FeatureFlags/ValueType.cs
  tracer/test/Datadog.Trace.TestHelpers/FeatureFlagsHelpers.cs
  tracer/test/Datadog.Trace.Tests/FeatureFlags/FeatureFlagsEvaluatorTests.cs
  tracer/test/test-applications/integrations/Samples.FeatureFlags/Evaluator.cs
  tracer/test/test-applications/integrations/Samples.FeatureFlags/Program.cs
  tracer/test/test-applications/integrations/Samples.OpenFeature/Evaluator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix test full name in flaky metrics
  tracer/test/Datadog.Trace.TestHelpers/CustomTestFramework.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix asserts being ignored in release builds
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/FeatureFlags/FeatureFlagsTests.cs
  tracer/test/Datadog.Trace.TestHelpers/FeatureFlagsHelpers.cs
  tracer/test/test-applications/integrations/Samples.FeatureFlags/Program.cs
  tracer/test/test-applications/integrations/Samples.OpenFeature/Evaluator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix Batching sink tests flakiness. (#8081)
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSinkTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

changes
  tracer/test/snapshots/XUnitEvpTests.SubmitTraces_packageVersion=all.verified.txt
  tracer/test/snapshots/XUnitEvpTestsV3.SubmitTraces_packageVersion=all.verified.txt
  tracer/test/snapshots/XUnitTests.SubmitTraces_packageVersion=all.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Avoid using RVA and take advantage of the enumeration order to "generate" RID
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/DbgHelpParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/DbgHelpParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DebugInfoStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DebugInfoStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IDebugInfoStore.h
  profiler/test/Datadog.Profiler.Native.Tests/DebugInfoStoreTest.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[FFE] Fix asserts being ignored in release builds (#8093)
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/FeatureFlags/FeatureFlagsTests.cs
  tracer/test/Datadog.Trace.TestHelpers/FeatureFlagsHelpers.cs
  tracer/test/test-applications/integrations/Samples.FeatureFlags/Program.cs
  tracer/test/test-applications/integrations/Samples.OpenFeature/Evaluator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

remove redundant tests
  tracer/test/Datadog.Trace.Tests/Proxy/AwsProxyExtractorTests.cs
  tracer/test/Datadog.Trace.Tests/Proxy/AzureProxyExtractorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add feature-flagging-and-experimentation-sdk as code owners for FFE code (#8095)
  .github/CODEOWNERS
Due: none

[CI Visibility] Improve GitHub Actions job URL format for direct job navigation
  tracer/src/Datadog.Trace/Ci/CiEnvironment/GithubActionsEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/PlatformKeys.Ci.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/CIEnvironmentVariableTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/github.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

improve the fixed size array pool
  tracer/src/Datadog.Trace/Util/FixedSizeArrayPool.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml
