Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

.azure-pipelines/crank.yml:
  jobs:
  - job: windows_profiler
    pool:
      vmImage: windows-2019
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core runtime 3.1
      inputs:
        packageType: runtime
        version: 3.1.x
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
  ...

.azure-pipelines/iis-integration-tests.yml:
  jobs:
  - job: Windows
    pool:
      vmImage: windows-2019
    variables:
      buildPlatform: x64
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core 2.1 sdk
      inputs:
        packageType: sdk
        version: $(dotnetCore21SdkVersion)
    - task: DotNetCoreCLI@2
  ...

.azure-pipelines/integration-tests-experimental.yml:
  pool:
    vmImage: ubuntu-18.04
  jobs:
  - job: Windows
    timeoutInMinutes: 80
    strategy:
      matrix:
        x64:
          buildPlatform: x64
          enable32bit: false
        x86:
          buildPlatform: x86
          enable32bit: true
    pool:
      vmImage: windows-2019
    variables:
  ...

.azure-pipelines/integration-tests.yml:
  jobs:
  - job: Linux
    strategy:
      matrix:
        netcoreapp2_1:
          dotnetCoreSdkVersion: 2.1.x
          publishTargetFramework: netcoreapp2.1
        netcoreapp3_0:
          dotnetCoreSdkVersion: 3.0.x
          publishTargetFramework: netcoreapp3.0
        netcoreapp3_1:
  ...

.azure-pipelines/internal-ciapp-pipeline.yml:
  stages:
  - stage: merge_commit_id
    dependsOn: []
    jobs:
    - job: fetch
      timeoutInMinutes: 60
      pool:
        name: azure-linux-task-scale-set
      steps:
      - checkout: none
  ...

.azure-pipelines/managed-unit-tests.yml:
  strategy:
    matrix:
      windows:
        imageName: windows-2019
      linux:
        imageName: ubuntu-16.04
  pool:
    vmImage: $(imageName)
  steps:
  - task: DotNetCoreInstaller@0
    displayName: install dotnet core sdk
    inputs:
      version: 2.2.300
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
  ...

.azure-pipelines/native-unit-tests.yml:
  jobs:
  - job: windows
    strategy:
      matrix:
        x64:
          buildPlatform: x64
        x86:
          buildPlatform: x86
    pool:
      vmImage: windows-2019
    steps:
    - task: NuGetCommand@2
      displayName: nuget restore
      inputs:
        restoreSolution: Datadog.Trace.Native.sln
  ...

.azure-pipelines/runner.yml:
  jobs:
  - job: build_linux_profiler
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
        packageType: sdk
        version: $(dotnetCoreSdk5Version)
        includePreviewVersions: true
    - task: DotNetCoreCLI@2
  ...

fix parent context priority in isolated worker
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

rename parameter
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Reorder Azure Functions observer skip logic
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

update expected span counts
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Use duck typing for HttpContext in GetAspNetCoreScope
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/IHttpContextItems.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix bad merge
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update Azure Functions snapshots for new _dd.svc_src tag
  tracer/test/snapshots/AzureFunctionsTests.Isolated.V4.AspNetCore.verified.txt
  tracer/test/snapshots/AzureFunctionsTests.Isolated.V4.AspNetCore1.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix merge conflict
  tracer/src/Datadog.Trace/PlatformHelpers/AspNetCoreHttpRequestHandler.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add comment explaining stale gRPC headers in HTTP proxying mode
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Don't return borrowed ASP.NET Core scope from calltarget state
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Change scope retrieval error log from Debug to Error
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Mark Items dictionary values as nullable in duck types
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/IFunctionContext.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/IHttpContextItems.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Document source of HttpRequestContext key
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add explicit null checks in ASP.NET Core scope retrieval
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Set status 500 on aspnet_core.request when isolated worker function throws
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/FunctionExecutionMiddlewareInvokeIntegration.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update snapshots for aspnet_core.request on exception
  tracer/test/snapshots/AzureFunctionsTests.Isolated.V4.AspNetCore.verified.txt
  tracer/test/snapshots/AzureFunctionsTests.Isolated.V4.AspNetCore1.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix CS8613 nullability mismatch in MockFunctionContext.Items
  tracer/test/Datadog.Trace.Tests/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommonTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove System.Private.CoreLib resource keys
  tracer/build/_build/UpdateVendors/VendoredDependency.cs
  tracer/src/Datadog.Trace/Vendors/System.Private.CoreLib/SR.cs
  tracer/src/Datadog.Trace/Vendors/System.Private.CoreLib/System.Private.CoreLib.csproj.txt
  tracer/src/Datadog.Trace/Vendors/System.Private.CoreLib/_last_downloaded_source_url.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add docker-compose file updater
  tracer/build/_build/Build.SmokeTests.cs
  tracer/build/_build/SmokeTests/SmokeTestImageDigestUpdater.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Try to fix otel flakiness
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/OpenTelemetrySdkTests.cs
  tracer/test/snapshots/OpenTelemetrySdkTests.SubmitsOtlpLogs.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add cooldown report for reporting
  tracer/build/_build/Build.SmokeTests.cs
  tracer/build/_build/SmokeTests/CooldownReport.cs
  tracer/build/_build/SmokeTests/SmokeTestImageDigestUpdater.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add a workflow to run the job automatically
  .github/chainguard/self.auto_bump_smoke_test_docker_images.create-pr.sts.yaml
  .github/workflows/auto_bump_smoke_test_docker_images.yml
Due: none

Update pins
  tracer/build/_build/SmokeTests/smoke-test-images.docker-compose.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove dependabot config
  .github/dependabot.yml
Due: none

Add support for building in CI
  .gitlab-ci.yml
  tracer/build/_build/docker/gitlab/UPDATING_IMAGE.md
  tracer/build/_build/docker/gitlab/compute-image-hash.ps1
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix hashing
  .gitlab-ci.yml
  tracer/build/_build/docker/gitlab/compute-image-hash.ps1
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Try to switch to 2022
  .gitlab-ci.yml
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Use hyperv isolation instead
  .gitlab-ci.yml
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Download the CI identifies thing externally to avoid issues with version
  .gitlab-ci.yml
  tracer/build/_build/docker/gitlab/compute-image-hash.ps1
  tracer/build/_build/docker/gitlab/download-ci-identities-client.ps1
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Stop vendoring resx for vendored microsoft code (#8461)
  tracer/build/_build/UpdateVendors/VendoredDependency.cs
  tracer/src/Datadog.Trace/Vendors/System.Private.CoreLib/SR.cs
  tracer/src/Datadog.Trace/Vendors/System.Private.CoreLib/System.Private.CoreLib.csproj.txt
  tracer/src/Datadog.Trace/Vendors/System.Private.CoreLib/_last_downloaded_source_url.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update vendored Unsafe code
  tracer/dependabot/Datadog.Dependabot.Vendors.csproj
  tracer/src/Datadog.Trace/Vendors/System.Runtime.CompilerServices.Unsafe/FodyWeavers.xml
  tracer/src/Datadog.Trace/Vendors/System.Runtime.CompilerServices.Unsafe/FodyWeavers.xsd
  tracer/src/Datadog.Trace/Vendors/System.Runtime.CompilerServices.Unsafe/System.Runtime.CompilerServices.Unsafe.csproj.txt
  tracer/src/Datadog.Trace/Vendors/System.Runtime.CompilerServices.Unsafe/Unsafe.cs
  tracer/src/Datadog.Trace/Vendors/System.Runtime.CompilerServices.Unsafe/_last_downloaded_source_url.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update unsafe vendoring
  tracer/build/_build/UpdateVendors/ILToInlineILConverter.cs
  tracer/build/_build/UpdateVendors/VendoredDependency.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add .NET service names to macrobenchmarks (#8490)
  .gitlab/benchmarks/macrobenchmarks.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove agent check in client-side-stats (#8503)
  tracer/src/Datadog.Trace/Agent/StatsAggregator.cs
  tracer/test/Datadog.Trace.Tests/Agent/StatsAggregatorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove allow_failure: false
  .gitlab-ci.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Reduce Flake in OTLP logs tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/OpenTelemetrySdkTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update vendored System.Runtime.CompilerServices.Unsafe (#8469)
  tracer/build/_build/UpdateVendors/ILToInlineILConverter.cs
  tracer/build/_build/UpdateVendors/VendoredDependency.cs
  tracer/dependabot/Datadog.Dependabot.Vendors.csproj
  tracer/src/Datadog.Trace/Vendors/System.Runtime.CompilerServices.Unsafe/FodyWeavers.xml
  tracer/src/Datadog.Trace/Vendors/System.Runtime.CompilerServices.Unsafe/FodyWeavers.xsd
  tracer/src/Datadog.Trace/Vendors/System.Runtime.CompilerServices.Unsafe/System.Runtime.CompilerServices.Unsafe.csproj.txt
  tracer/src/Datadog.Trace/Vendors/System.Runtime.CompilerServices.Unsafe/Unsafe.cs
  tracer/src/Datadog.Trace/Vendors/System.Runtime.CompilerServices.Unsafe/_last_downloaded_source_url.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix flaky stats
  tracer/src/Datadog.Trace/Agent/StatsAggregator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

keep symbol uploads enabled when DI is disabled
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerManager.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/DebuggerManagerDynamicTests.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/DebuggerManagerTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerSettingsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github
