Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

.azure-pipelines/crank.yml:
  jobs:
  - job: windows_profiler
    pool:
      vmImage: windows-2019
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core runtime 3.1
      inputs:
        packageType: runtime
        version: 3.1.x
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
  ...

.azure-pipelines/iis-integration-tests.yml:
  jobs:
  - job: Windows
    pool:
      vmImage: windows-2019
    variables:
      buildPlatform: x64
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core 2.1 sdk
      inputs:
        packageType: sdk
        version: $(dotnetCore21SdkVersion)
    - task: DotNetCoreCLI@2
  ...

.azure-pipelines/integration-tests-experimental.yml:
  pool:
    vmImage: ubuntu-18.04
  jobs:
  - job: Windows
    timeoutInMinutes: 80
    strategy:
      matrix:
        x64:
          buildPlatform: x64
          enable32bit: false
        x86:
          buildPlatform: x86
          enable32bit: true
    pool:
      vmImage: windows-2019
    variables:
  ...

.azure-pipelines/integration-tests.yml:
  jobs:
  - job: Linux
    strategy:
      matrix:
        netcoreapp2_1:
          dotnetCoreSdkVersion: 2.1.x
          publishTargetFramework: netcoreapp2.1
        netcoreapp3_0:
          dotnetCoreSdkVersion: 3.0.x
          publishTargetFramework: netcoreapp3.0
        netcoreapp3_1:
  ...

.azure-pipelines/internal-ciapp-pipeline.yml:
  stages:
  - stage: merge_commit_id
    dependsOn: []
    jobs:
    - job: fetch
      timeoutInMinutes: 60
      pool:
        name: azure-linux-task-scale-set
      steps:
      - checkout: none
  ...

.azure-pipelines/managed-unit-tests.yml:
  strategy:
    matrix:
      windows:
        imageName: windows-2019
      linux:
        imageName: ubuntu-16.04
  pool:
    vmImage: $(imageName)
  steps:
  - task: DotNetCoreInstaller@0
    displayName: install dotnet core sdk
    inputs:
      version: 2.2.300
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
  ...

.azure-pipelines/native-unit-tests.yml:
  jobs:
  - job: windows
    strategy:
      matrix:
        x64:
          buildPlatform: x64
        x86:
          buildPlatform: x86
    pool:
      vmImage: windows-2019
    steps:
    - task: NuGetCommand@2
      displayName: nuget restore
      inputs:
        restoreSolution: Datadog.Trace.Native.sln
  ...

.azure-pipelines/runner.yml:
  jobs:
  - job: build_linux_profiler
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
        packageType: sdk
        version: $(dotnetCoreSdk5Version)
        includePreviewVersions: true
    - task: DotNetCoreCLI@2
  ...

Simpler endpoint
  repro/APMS-19196/Program.cs
  repro/APMS-19196/README.md
  repro/APMS-19196/REPRODUCTION-GUIDE.md
  repro/APMS-19196/reproduce-crash.sh
  repro/APMS-19196/test-fixed-tracer.sh
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Expand tracer documentation with usage examples and configuration guides
  docs/Datadog.Trace/README.md
  tracer/README.md
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update base image used in download stages
  .gitlab-ci.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Try install prerequistes
  .gitlab-ci.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove RASP
  tracer/src/Datadog.Trace/AppSec/AppSecRequestContext.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityReporter.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspMetricsHelper.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspShellInjectionHelper.cs
  tracer/src/Datadog.Trace/AppSec/VulnerabilitiesModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentationCategory.cs
  tracer/src/Datadog.Trace/Iast/Aspects/EntityFramework/EntityCommandAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/EntityFrameworkCore/EntityFrameworkCoreAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/NHibernate/ISessionAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Data.Common/DbCommandAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileStreamAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamReaderAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamWriterAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/HttpClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebRequestAspect.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Let's try something else
  .gitlab-ci.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove RASP native
  IASTStandalone.md
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/NativeInterop.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables.h
  tracer/src/Datadog.Tracer.Native/environment_variables_util.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables_util.h
  tracer/test/test-applications/integrations/Samples.GrpcDotNet/Protos/greet.proto
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Generated
  Datadog.Trace.Samples.g.sln
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites.g.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add an integration test for the case 19196
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TraceAnnotationsTests.cs
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.AfterFeature/Samples.TraceAnnotations.VersionMismatch.AfterFeature.csproj
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.BeforeFeature/Samples.TraceAnnotations.VersionMismatch.BeforeFeature.csproj
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/ExtremeExceptionHandling.cs
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/ProgramHelpers.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix integration tests verifications files
  tracer/test/snapshots/TraceAnnotationsAutomaticOnlyTests._.Core.verified.txt
  tracer/test/snapshots/TraceAnnotationsAutomaticOnlyTests._.DotNet.verified.txt
  tracer/test/snapshots/TraceAnnotationsAutomaticOnlyTests._.Net.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchAfterFeatureTests._.Core.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchAfterFeatureTests._.DotNet.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchAfterFeatureTests._.Net.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchBeforeFeatureTests._.Core.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchBeforeFeatureTests._.DotNet.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchBeforeFeatureTests._.Net.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update base image used in download stages (#8437)
  .gitlab-ci.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

Remove setting the image
  tracer/build/_build/SmokeTests/SmokeTestImageDigests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[DSM] Initial transaction tracking implementation (#7949)
  Datadog.Trace.Samples.g.sln
  Datadog.Trace.sln
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/HttpMessageHandlerCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Kafka/KafkaHelper.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/supported-configurations.yaml
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Aggregation/DataStreamsAggregator.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Aggregation/DataStreamsMessagePackFormatter.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsManager.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsWriter.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/IDataStreamsWriter.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/SpanExtensions.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/TransactionTracking/DataStreamsExtractorRegistry.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/TransactionTracking/DataStreamsTransactionContainer.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/TransactionTracking/DataStreamsTransactionExtractor.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/TransactionTracking/DataStreamsTransactionInfo.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/ConfigurationKeysGenerator/ConfigurationKeys.DataStreamsMonitoring.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/ConfigurationKeysGenerator/ConfigurationKeys.DataStreamsMonitoring.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/ConfigurationKeysGenerator/ConfigurationKeys.DataStreamsMonitoring.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/ConfigurationKeysGenerator/ConfigurationKeys.DataStreamsMonitoring.g.cs
  tracer/src/Datadog.Trace/PlatformHelpers/AspNetCoreHttpRequestHandler.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DataStreamsMonitoringHttpClientTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DataStreamsMonitoringKafkaTests.cs
  tracer/test/Datadog.Trace.TestHelpers/DataStreamsMonitoring/MockDataStreamsBucket.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsAggregatorTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsExtractorRegistryTest.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsManagerTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsMessagePackFormatterTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsTransactionCacheTestCollection.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsTransactionContainerTest.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsTransactionExtractorTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsTransactionInfoTest.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsWriterTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/test-applications/integrations/Samples.DataStreams.HttpClient/Program.cs
  tracer/test/test-applications/integrations/Samples.DataStreams.HttpClient/Samples.DataStreams.HttpClient.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Added Datadog.Trace.DataStreams.TrackTransaction to public API, allowing tracking transactions manually
  tracer/src/Datadog.Trace.Manual/DataStreams.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/DataStreams/DataStreamsTrackTransactionIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/PublicApiUsageExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/PublicApiUsageExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/PublicApiUsageExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/PublicApiUsageExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/PublicApiUsage.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DataStreamsMonitoringManualApiTest.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/DataStreamsInstrumentationTests.cs
  tracer/test/test-applications/integrations/Samples.DataStreams.ManualAPI/Program.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[DSM] Regenerate call target registration for DataStreamsTrackTransactionIntegration
  tracer/build/supported_calltargets.g.json
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[DSM] Update public API snapshot for DataStreams.TrackTransaction
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Manual.PublicApiHasNotChanged.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Address PR review: simplify error handling and add optimizations
  tracer/src/Datadog.FeatureFlags.OpenFeature/Datadog.FeatureFlags.OpenFeature.csproj
  tracer/src/Datadog.FeatureFlags.OpenFeature/FlagEvalMetrics.cs
  tracer/src/Datadog.FeatureFlags.OpenFeature/FlagEvalMetricsHook.cs
  tracer/src/Datadog.FeatureFlags.OpenFeature/Sdk/FeatureFlagsSdk.cs
  tracer/src/Datadog.Trace.Manual/Datadog.Trace.Manual.csproj
  tracer/src/Datadog.Trace/FeatureFlags/Evaluation.cs
  tracer/src/Datadog.Trace/FeatureFlags/EvaluationErrorCode.cs
  tracer/src/Datadog.Trace/FeatureFlags/IEvaluation.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix evaluation reason types and RC reset handling
  tracer/src/Datadog.Trace/FeatureFlags/FeatureFlagsEvaluator.cs
  tracer/src/Datadog.Trace/FeatureFlags/FeatureFlagsModule.cs
  tracer/test/Datadog.Trace.Tests/FeatureFlags/FeatureFlagsEvaluatorTests.cs
  tracer/test/test-applications/integrations/Samples.FeatureFlags/Program.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Test Package Versions Bump]
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/nuget_version_cache.json
  tracer/build/supported_versions.json
  tracer/dependabot/integrations/Datadog.Dependabot.AWSSDK.Core.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.AWSSDK.DynamoDBv2.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.AWSSDK.EventBridge.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.AWSSDK.Kinesis.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.AWSSDK.S3.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.AWSSDK.SQS.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.AWSSDK.SimpleNotificationService.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.AWSSDK.StepFunctions.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.Aerospike.Client.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.CouchbaseNetClient.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.HotChocolate.AspNetCore.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.MSTest.TestFramework.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.OpenTelemetry.Api.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.OpenTelemetry.csproj
  tracer/dependabot/integrations/Datadog.Dependabot.Selenium.WebDriver.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Urgent fix for ArrayPool
  tracer/src/Datadog.Trace/Vendors/System.Memory/Buffers/SharedArrayPool.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add GITHUB_ORG_INTERNAL
  .gitlab-ci.yml
  .gitlab/benchmarks/dsm-throughput.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add dummy file
  foo
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove IAST telemetry
  Datadog.Trace.Samples.g.sln
  Datadog.Trace.sln
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/IastRequestContext.cs
  tracer/src/Datadog.Trace/Iast/Settings/IastSettings.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/IastMetricsVerbosityLevel.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryFactory.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Datadog.Trace.Security.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetWebFormsWithIast.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/Grpc/GrpcDotNetTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastVerifyScrubberExtensions.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/ExecutedTelemetryHelperTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/IastTelemetryTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/snapshots/Iast.CookieName.AspNetCore5.verified.txt
  tracer/test/snapshots/Iast.JsonTagSizeExceeded.AspNetCore5.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Iast.MetaStructTagSizeExceeded.AspNetCore5.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Iast.PathTraversal.AspNetCore2.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Iast.PathTraversal.AspNetCore5.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableIast=true.path=_Iast_QueryOwnUrl.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.TelemetryEnabled.Classic.enableIast=true.path=_Iast_GetFileContent-file=nonexisting.txt.verified.txt
  tracer/test/test-applications/integrations/Samples.GrpcDotNet/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.GrpcDotNet/Services/ErrorType.cs
  tracer/test/test-applications/integrations/Samples.GrpcDotNet/Services/GreeterService.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add a trace_stats_sampled scenario to macrobenchmarks
  .gitlab/benchmarks/macrobenchmarks.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add 10% sampling to standard scenarios too
  .gitlab/benchmarks/macrobenchmarks.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

scrub db.user
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqlClientTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Apply suggestions from code review
  .gitlab/benchmarks/macrobenchmarks.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix excessive allocation in vendored `SharedArrayPool` (#8442)
  tracer/src/Datadog.Trace/Vendors/System.Memory/Buffers/SharedArrayPool.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

API10 initial implementation
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/AppSec/AddressesConstants.cs
  tracer/src/Datadog.Trace/AppSec/AppSecRequestContext.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/BodyParser.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/DownstreamSampler.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IHttpContent.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IHttpContentHeaders.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IHttpHeaders.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IHttpRequestMessage.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IHttpResponseMessage.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IMediaTypeHeaderValue.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/IDownstreamSampler.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/HttpMessageHandlerCommon.cs
  tracer/src/Datadog.Trace/Configuration/configuration_keys_mapping.json
  tracer/src/Datadog.Trace/Configuration/supported-configurations-docs.yaml
  tracer/src/Datadog.Trace/Configuration/supported-configurations.json
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/ConfigKeyAliasesSwitcherGenerator/ConfigKeyAliasesSwitcher.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/ConfigurationKeysGenerator/ConfigurationKeys.AppSec.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/ConfigKeyAliasesSwitcherGenerator/ConfigKeyAliasesSwitcher.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/ConfigurationKeysGenerator/ConfigurationKeys.AppSec.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/ConfigKeyAliasesSwitcherGenerator/ConfigKeyAliasesSwitcher.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/ConfigurationKeysGenerator/ConfigurationKeys.AppSec.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/ConfigKeyAliasesSwitcherGenerator/ConfigKeyAliasesSwitcher.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/ConfigurationKeysGenerator/ConfigurationKeys.AppSec.g.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore5Rasp.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RaspWafTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Properties/launchSettings.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/rasp-rule-set.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix config test
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix non json body parsing
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore5RaspDownstream.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Rebase fix
  tracer/src/Datadog.Trace/Configuration/configuration_keys_mapping.json
  tracer/src/Datadog.Trace/Configuration/supported-configurations-docs.yaml
  tracer/src/Datadog.Trace/Configuration/supported-configurations.json
  tracer/src/Datadog.Trace/Configuration/supported-configurations.yaml
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/ConfigurationKeysGenerator/ConfigurationKeys.AppSec.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/ConfigurationKeysGenerator/ConfigurationKeys.AppSec.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/ConfigurationKeysGenerator/ConfigurationKeys.AppSec.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/ConfigurationKeysGenerator/ConfigurationKeys.AppSec.g.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Downstream request tests
  tracer/src/Datadog.Trace/AppSec/Rasp/BodyParser.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IHttpContent.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore5RaspDownstream.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/BodyParserTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/DownstreamSamplerTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RaspModuleDownstreamTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/Utils/HttpMocks.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/Utils/JsonTestData.cs
  tracer/test/snapshots/Security.AspNetCore5.RaspDownstream.__testName=WithBodyQueryParam_CapturesBody_url=_body=.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.RaspDownstream.__testName=WithBody_ParsesAndCapturesBody_url=_body=.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.RaspDownstream.__testName=WithoutBody_CapturesRequestData_url=_body=.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/RaspController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove unneeded usings
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Tweak expected span count
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore5RaspDownstream.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

PR comments
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IHttpContent.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IHttpContentHeaders.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IHttpHeaders.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IHttpRequestMessage.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IHttpResponseMessage.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/HttpClient/IMediaTypeHeaderValue.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/HttpMessageHandlerCommon.cs
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore5Rasp.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RaspModuleDownstreamTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/Utils/HttpMocks.cs
  tracer/test/snapshots/Rasp.AspNetCore2.CmdI_url=-Iast-ExecuteCommand-file=-bin-rebootCommand&argumentLine=-f&fromShell=false_exploit=CmdI.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore2.CmdI_url=-Iast-ExecuteCommand-file=ls&argumentLine=;evilCommand&fromShell=true_exploit=CmdI.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore2.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore2.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore2.SqlI_url=-Iast-ExecuteQueryFromBodyQueryData_exploit=SqlI_body={-UserName-- -' or '1'='1-}.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.CmdI_url=-Iast-ExecuteCommand-file=-bin-rebootCommand&argumentLine=-f&fromShell=false_exploit=CmdI.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.CmdI_url=-Iast-ExecuteCommand-file=ls&argumentLine=;evilCommand&fromShell=true_exploit=CmdI.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.Lfi_url=-Iast-GetFileContent-file=filename_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.SqlI_url=-Iast-ExecuteQueryFromBodyQueryData_exploit=SqlI_body={-UserName-- -' or '1'='1-}.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix benchmark
  tracer/test/benchmarks/Benchmarks.Trace/AspNetCoreBenchmark.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix config
  tracer/src/Datadog.Trace/Configuration/supported-configurations.yaml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github
