Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github

[Tools] Check IAST and sampling rules in the NativeAOT package test
  tracer/test/Datadog.Trace.Tools.Runner.Tests/AotInstrumentNativeAotPublishIntegrationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Strengthen Feature Flags exposure lifecycle tests
  tracer/test/Datadog.Trace.Tests/FeatureFlags/ExposureApiTests.cs
  tracer/test/Datadog.Trace.Tests/FeatureFlags/FeatureFlagsFixedEvpTransportTests.cs
  tracer/test/Datadog.Trace.Tests/FeatureFlags/FeatureFlagsModuleTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Debugger] Fix return type signature overflow in CallTarget tokens
  tracer/src/Datadog.Tracer.Native/calltarget_tokens.cpp
  tracer/src/Datadog.Tracer.Native/debugger_probes_instrumentation_requester.cpp
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ExceptionReplay/AspNetCore5ExceptionReplayLargeSignatureTests.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/ExceptionReplay/LargeAnonymousTypeTest.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Enforce the exposure shutdown deadline without ThreadPool timers
  tracer/src/Datadog.Trace/FeatureFlags/Exposure/ExposureApi.cs
  tracer/test/Datadog.Trace.Tests/FeatureFlags/ExposureApiTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Assign Quartz resource-name tests to chojomok
  .github/CODEOWNERS
Due: none

Remove QuartzCommon unit tests
  .github/CODEOWNERS
  tracer/test/Datadog.Trace.Tests/ClrProfiler/QuartzCommonTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Stabilize Quartz snapshots by validating polling spans separately
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AutoInstrumentation/QuartzTests.cs
  tracer/test/snapshots/QuartzTestsV4_0.verified.txt
  tracer/test/snapshots/QuartzTestsV4_1.verified.txt
  tracer/test/snapshots/QuartzTestsV4_4.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Debugger] Fix stale local variable names from PDB lookup
  tracer/src/Datadog.Trace/PDBs/DatadogMetadataReader.Dnlib.cs
  tracer/src/Datadog.Trace/PDBs/DatadogMetadataReader.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Listen to activities without emitted code in NativeAOT
  tracer/src/Datadog.Trace/Activity/ActivityListener.cs
  tracer/src/Datadog.Trace/Activity/Helpers/AllocationFreeEnumerator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Report the git metadata of NativeAOT applications from their SourceLink
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentProcessor.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/CallTarget/CallTargetRegistryGenerator.cs
  tracer/src/Datadog.Trace/PDBs/SourceLinkInformationExtractor.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/SourceLinkInformationExtractorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Preserve the library types integrations find by name in NativeAOT
  tracer/src/Datadog.Trace.Aot/build/Datadog.Trace.Aot.targets
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentProcessor.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentReport.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/ReflectionRootDescriptor.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/AotReflectionRootDescriptorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Add NativeAOT fallbacks to the integration helpers that emit code
  tracer/src/Datadog.Trace.Aot/ducktype-maps/datadog-trace.json
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SNS/CachedMessageHeadersHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/CachedMessageHeadersHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Serilog/LogsInjection/SerilogLogPropertyHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/BsonSerialization/BsonSerializationHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/OpenTelemetry/ResourceAttributeProcessorHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/OpenTelemetry/ResourceAttributeReverseProcessor.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/OpenTelemetry/TracerProviderBuilderIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/CachedBasicPropertiesHelper.cs
  tracer/src/Datadog.Trace/Util/ActivatorHelper.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Read trace annotation names from the attribute data in NativeAOT
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/TraceAnnotations/TraceAnnotationInfoFactory.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Instrument delegates in NativeAOT applications
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentProcessor.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentReport.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/DelegateWrapperDirectives.cs
  tracer/src/Datadog.Trace/Util/Delegates/DelegateInstrumentation.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/AotDelegateWrapperDirectivesTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Find generic instantiations through implementations and referencing modules
  tracer/src/Datadog.Trace.Tools.Runner/Aot/CallTarget/GenericInstantiationDiscovery.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[DuckTyping] Support composite interfaces of reverse proxies in NativeAOT
  tracer/src/Datadog.Trace.Aot/build/Datadog.Trace.Aot.targets
  tracer/src/Datadog.Trace.Aot/ducktype-maps/datadog-trace.json
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentProcessor.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentReport.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/CompositeInterfaceAssembly.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/DirectSubmissionLoggerProvider.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/LoggerFactoryIntegrationCommon.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckType.Composites.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckTypeAotDiscoveryRecorder.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckTypeCompositeInterfaceAttribute.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Generate recorded duck typing mappings over generic arguments of the application
  tracer/src/Datadog.Trace.Tools.Runner/Aot/CallTarget/CallTargetDuckTypeRegistry.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Removes LLM related skills and settings that are unused or invalid (#9386)
  .claude/settings.json
  .claude/skills/analyze-crash/SKILL.md
  .claude/skills/analyze-error/SKILL.md
  .claude/skills/review-pr/SKILL.md
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Feature Flags] Bound exposure shutdown and own the existing EVP sender (#9353)
  tracer/src/Datadog.Trace/FeatureFlags/Evp/FeatureFlagsEvpTransport.cs
  tracer/src/Datadog.Trace/FeatureFlags/Exposure/ExposureApi.cs
  tracer/src/Datadog.Trace/FeatureFlags/FeatureFlagsModule.cs
  tracer/test/Datadog.Trace.TestHelpers/TransportHelpers/TestRequestFactory.cs
  tracer/test/Datadog.Trace.Tests/FeatureFlags/ExposureApiTests.cs
  tracer/test/Datadog.Trace.Tests/FeatureFlags/FeatureFlagsFixedEvpTransportTests.cs
  tracer/test/Datadog.Trace.Tests/FeatureFlags/FeatureFlagsModuleTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[FeatureFlags] Cover delayed discovery from a replaced Agent
  tracer/test/Datadog.Trace.Tests/FeatureFlags/FeatureFlagsEvpTransportTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Import the type arguments of closed instantiations in instrumented assemblies
  tracer/src/Datadog.Trace.Tools.Runner/Aot/CallTarget/CallTargetRegistryGenerator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Report dnlib write errors and keep only readable portable PDBs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/Native/MethodBodies.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Run the shutdown tasks on SIGTERM in NativeAOT applications
  tracer/src/Datadog.Trace/LifetimeManager.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Ignore the Datadog.Trace.Trimming descriptor in NativeAOT builds
  tracer/src/Datadog.Trace.Aot/build/Datadog.Trace.Aot.targets
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Add the library duck typing mappings recorded by the sample runs to the catalog
  tracer/src/Datadog.Trace.Aot/ducktype-maps/datadog-trace.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Debugger] Support Code Origin for spans in NativeAOT applications
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerManager.cs
  tracer/src/Datadog.Trace/Debugger/SpanCodeOrigin/SpanCodeOrigin.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/AssemblyFilter.cs
  tracer/src/Datadog.Trace/PDBs/DatadogMetadataReader.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Instrument DD_TRACE_METHODS when publishing NativeAOT applications
  tracer/src/Datadog.Trace.Aot/build/Datadog.Trace.Aot.targets
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentOptions.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentProcessor.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/Native/NativeTracerHost.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/AotInstrumentNativeHostIntegrationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Record the source locations of endpoint methods for Code Origin in NativeAOT builds
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentProcessor.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentReport.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/CallTarget/CallTargetRegistryGenerator.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/CodeOriginLocations.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/AotCodeOriginLocationsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Skip the native tracer calls in NativeAOT applications
  tracer/src/Datadog.Trace/ClrProfiler/NativeMethods.cs
  tracer/src/Datadog.Trace/NativeLoader.cs
  tracer/src/Datadog.Trace/PlatformHelpers/ContainerMetadata.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Add the mappings of the latest sample runs to the duck typing catalog
  tracer/src/Datadog.Trace.Aot/ducktype-maps/datadog-trace.json
  tracer/test/Datadog.Trace.Tools.Runner.Tests/AotDuckTypeCatalogTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Docs] Add the NativeAOT support plan and tracker
  docs/development/NativeAOT.Plan.md
  docs/development/NativeAOT.Tracker.md
Due: none

Update create_hotfix_branch.yml
  .github/workflows/create_hotfix_branch.yml
Due: none

[Tools] Reject an application Datadog.Trace of another version before instrumenting
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentProcessor.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/AotInstrumentValidationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Keep the Hangfire server filter from failing on the job context parameter
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Hangfire/DatadogHangfireServerFilter.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Keep mscorlib in NativeAOT applications that use Hangfire
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentProcessor.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotInstrumentReport.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/FacadeDirectives.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/AotFacadeDirectivesTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tools] Add the mappings of the sample inventory runs to the duck typing catalog
  tracer/src/Datadog.Trace.Aot/ducktype-maps/datadog-trace.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Build] Pack Datadog.Trace.Aot in CI with the native libraries of every platform
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.cs
  tracer/build/_build/Projects.cs
  tracer/src/Datadog.Trace.Aot/Datadog.Trace.Aot.csproj
  tracer/src/Datadog.Trace.Aot/README.md
  tracer/src/Datadog.Trace.Aot/build/Datadog.Trace.Aot.targets
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Docs] Add the inventory of samples run under JIT and NativeAOT
  docs/development/NativeAOT.Samples.md
  docs/development/NativeAOT.Tracker.md
Due: none

Fix regex test on .NET 5
  tracer/test/Datadog.Trace.Tests/Util/Http/QueryStringObfuscatorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Allow hotfix creation from an explicit release tag
  .github/workflows/create_hotfix_branch.yml
Due: none
