Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

.azure-pipelines/crank.yml:
  jobs:
  - job: windows_profiler
    pool:
      vmImage: windows-2019
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core runtime 3.1
      inputs:
        packageType: runtime
        version: 3.1.x
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
  ...

.azure-pipelines/iis-integration-tests.yml:
  jobs:
  - job: Windows
    pool:
      vmImage: windows-2019
    variables:
      buildPlatform: x64
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core 2.1 sdk
      inputs:
        packageType: sdk
        version: $(dotnetCore21SdkVersion)
    - task: DotNetCoreCLI@2
  ...

.azure-pipelines/integration-tests-experimental.yml:
  pool:
    vmImage: ubuntu-18.04
  jobs:
  - job: Windows
    timeoutInMinutes: 80
    strategy:
      matrix:
        x64:
          buildPlatform: x64
          enable32bit: false
        x86:
          buildPlatform: x86
          enable32bit: true
    pool:
      vmImage: windows-2019
    variables:
  ...

.azure-pipelines/integration-tests.yml:
  jobs:
  - job: Linux
    strategy:
      matrix:
        netcoreapp2_1:
          dotnetCoreSdkVersion: 2.1.x
          publishTargetFramework: netcoreapp2.1
        netcoreapp3_0:
          dotnetCoreSdkVersion: 3.0.x
          publishTargetFramework: netcoreapp3.0
        netcoreapp3_1:
  ...

.azure-pipelines/managed-unit-tests.yml:
  strategy:
    matrix:
      windows:
        imageName: windows-2019
      linux:
        imageName: ubuntu-16.04
  pool:
    vmImage: $(imageName)
  steps:
  - task: DotNetCoreInstaller@0
    displayName: install dotnet core sdk
    inputs:
      version: 2.2.300
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
  ...

.azure-pipelines/native-unit-tests.yml:
  jobs:
  - job: windows
    strategy:
      matrix:
        x64:
          buildPlatform: x64
        x86:
          buildPlatform: x86
    pool:
      vmImage: windows-2019
    steps:
    - task: NuGetCommand@2
      displayName: nuget restore
      inputs:
        restoreSolution: Datadog.Trace.Native.sln
  ...

.azure-pipelines/runner.yml:
  jobs:
  - job: build_linux_profiler
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
        packageType: sdk
        version: $(dotnetCoreSdk5Version)
        includePreviewVersions: true
    - task: DotNetCoreCLI@2
  ...

.azure-pipelines/ultimate-pipeline.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Daily 3am (UTC) build
    branches:
      include:
      - master
      - release/*
      - hotfix/*
      - /benchmarks/*
      exclude:
      - release/1.x
    always: true
  - cron: '*/6 1 * * Sat'
    displayName: Saturday CI, every 6 minutes from 1am
    branches:
  ...

Fixes
  tracer/src/Datadog.Trace/Tagging/TraceTagCollection.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Reduce the pressure on threadpool in the tests (#4086)
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/CustomTestFramework.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/ProcessHelper.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add ASM as code owners of the IAST instrumented tests project
  .github/CODEOWNERS
Due: none

Undo codeowners change
  .github/CODEOWNERS
Due: none

Add IAST intrumented tests ownership to ASM
  .github/CODEOWNERS
Due: none

Adding missing async
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqlClientTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Changes from review
  tracer/src/Datadog.Trace/Sampling/SamplingMechanism.cs
  tracer/src/Datadog.Trace/Tagging/TraceTagCollection.cs
  tracer/src/Datadog.Trace/TraceContext.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Generated new snapshots tests
  docs/span_attribute_schema/v1.md
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqlClientTests.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV0Rules.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV1Rules.cs
  tracer/test/Datadog.Trace.Tests/DatabaseMonitoring/DatabaseMonitoringPropagatorTests.cs
  tracer/test/snapshots/SystemDataSqlClientTests.SchemaV0.disabled.verified.txt
  tracer/test/snapshots/SystemDataSqlClientTests.SchemaV0.enabled.verified.txt
  tracer/test/snapshots/SystemDataSqlClientTests.SchemaV1.disabled.verified.txt
  tracer/test/snapshots/SystemDataSqlClientTests.SchemaV1.enabled.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove support for partial trust environment
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Extra readme notes about partial trust
  docs/Datadog.Trace/README.md
Due: none

Added note to release notes
  tracer/src/Directory.Build.props
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Added a note to Datadog.Trace Readme that partial trust environments are not supported
  docs/Datadog.Trace/README.md
Due: none

Delete partial trust smoke tests
  Datadog.Trace.sln
  tracer/build/_build/Build.Steps.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SandboxAutomaticInstrumentationSmokeTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SandboxManualTracingSmokeTest.cs
  tracer/test/test-applications/regression/Sandbox.AutomaticInstrumentation/Program.cs
  tracer/test/test-applications/regression/Sandbox.AutomaticInstrumentation/Properties/launchSettings.json
  tracer/test/test-applications/regression/Sandbox.AutomaticInstrumentation/Sandbox.AutomaticInstrumentation.csproj
  tracer/test/test-applications/regression/Sandbox.ManualTracing/Program.cs
  tracer/test/test-applications/regression/Sandbox.ManualTracing/Properties/launchSettings.json
  tracer/test/test-applications/regression/Sandbox.ManualTracing/Sandbox.ManualTracing.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

small POC for discussion
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/GlobalConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/LayeredSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationOrigins.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationTelemetryErrorCode.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/IConfigurationTelemetry.cs
  tracer/src/Datadog.Trace/Configuration/GlobalSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableAzureAppServiceSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/DirectLogSubmissionSettings.cs
  tracer/src/Datadog.Trace/Logging/Internal/DatadogLoggingFactory.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Replace custom version of MSbuildSettings with built-in versions
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/NukeExtensions/CustomDotNetTasks.cs
  tracer/build/_build/NukeExtensions/DotNetMSBuildSettings.cs
  tracer/build/_build/NukeExtensions/DotNetSettingsExtensions.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove _build project from build config
  Datadog.Trace.sln
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Exclude the build assets from Nuke.Common
  tracer/build/_build/Directory.Build.props
  tracer/build/_build/Directory.Build.targets
  tracer/build/_build/_build.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update build_in_docker.ps1
  tracer/build_in_docker.ps1
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

nit: include all bootstrap files in proj
  tracer/build/_build/_build.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Just build everything
  tracer/build/_build/Build.Steps.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix SetVariable
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/NukeExtensions/AzurePipelinesExtensions.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix build warnings
  tracer/build/_build/BenchmarkComparison/BenchmarkParser.cs
  tracer/build/_build/Build.ExplorationTests.cs
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Gitlab.cs
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/build/_build/Build.Steps.Debugger.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/BuildVariables.cs
  tracer/build/_build/ExecutionTimeComparison/CompareExecutionTime.cs
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/build/_build/NukeExtensions/ProjectExtensions.cs
  tracer/build/_build/TargetFramework.cs
  tracer/build/_build/ThroughputComparison/CompareThroughput.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update Nuke to the latest
  .azure-pipelines/steps/run-in-docker.yml
  .azure-pipelines/ultimate-pipeline.yml
  .nuke
  .nuke/build.schema.json
  .nuke/parameters.json
  tracer/build.cmd
  tracer/build.ps1
  tracer/build.sh
  tracer/build/_build/Build.Gitlab.cs
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/NukeExtensions/DotNetSettingsExtensions.cs
  tracer/build/_build/TargetFramework.cs
  tracer/build/_build/_build.csproj
  tracer/build_in_docker.ps1
  tracer/build_in_docker.sh
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add IAST intrumented tests ownership to ASM (#4087)
  .github/CODEOWNERS
Due: none

Update build_in_docker.sh
  tracer/build_in_docker.sh
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix compilation issue
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix compilation issue linux
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Release HANDLE when Managed thread dies
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Remove support for partial trust environment (#4083)
  Datadog.Trace.sln
  docs/Datadog.Trace/README.md
  tracer/build/_build/Build.Steps.cs
  tracer/src/Directory.Build.props
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SandboxAutomaticInstrumentationSmokeTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SandboxManualTracingSmokeTest.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
  tracer/test/test-applications/regression/Sandbox.AutomaticInstrumentation/Program.cs
  tracer/test/test-applications/regression/Sandbox.AutomaticInstrumentation/Properties/launchSettings.json
  tracer/test/test-applications/regression/Sandbox.AutomaticInstrumentation/Sandbox.AutomaticInstrumentation.csproj
  tracer/test/test-applications/regression/Sandbox.ManualTracing/Program.cs
  tracer/test/test-applications/regression/Sandbox.ManualTracing/Properties/launchSettings.json
  tracer/test/test-applications/regression/Sandbox.ManualTracing/Sandbox.ManualTracing.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update Nuke build to latest (#4000)
  .azure-pipelines/steps/run-in-docker.yml
  .azure-pipelines/ultimate-pipeline.yml
  .nuke
  .nuke/build.schema.json
  .nuke/parameters.json
  Datadog.Trace.sln
  tracer/build.cmd
  tracer/build.ps1
  tracer/build.sh
  tracer/build/_build/BenchmarkComparison/BenchmarkParser.cs
  tracer/build/_build/Build.ExplorationTests.cs
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Gitlab.cs
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/build/_build/Build.Steps.Debugger.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/BuildVariables.cs
  tracer/build/_build/Directory.Build.props
  tracer/build/_build/Directory.Build.targets
  tracer/build/_build/ExecutionTimeComparison/CompareExecutionTime.cs
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/build/_build/NukeExtensions/AzurePipelinesExtensions.cs
  tracer/build/_build/NukeExtensions/CustomDotNetTasks.cs
  tracer/build/_build/NukeExtensions/DotNetMSBuildSettings.cs
  tracer/build/_build/NukeExtensions/DotNetSettingsExtensions.cs
  tracer/build/_build/NukeExtensions/ProjectExtensions.cs
  tracer/build/_build/TargetFramework.cs
  tracer/build/_build/ThroughputComparison/CompareThroughput.cs
  tracer/build/_build/_build.csproj
  tracer/build_in_docker.ps1
  tracer/build_in_docker.sh
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Profiler/Windows] Release HANDLE when Managed thread dies (#4089)
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

clean up
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix race for endpoint profiling
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add -g flag to add file and line info
  build/cmake/FindCoreclr.cmake
  build/cmake/FindPPDB.cmake
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  shared/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  tracer/src/Datadog.Tracer.Native/CMakeLists.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add EditorBrowsableState.Never to types that should never be invoked by customers
  tracer/src/Datadog.Trace/AgentProcessManagerLoader.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentationLoader.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update Minimum required SDK version in Readme
  tracer/README.MD
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update README.MD
  tracer/README.MD
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Reduce allocations in sampling mechanism tagging (#4085)
  tracer/src/Datadog.Trace/Sampling/SamplingMechanism.cs
  tracer/src/Datadog.Trace/Tagging/TraceTagCollection.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TagPropagationTests.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TraceTagCollectionTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github
