Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

.azure-pipelines/crank.yml:
  jobs:
  - job: windows_profiler
    pool:
      vmImage: windows-2019
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core runtime 3.1
      inputs:
        packageType: runtime
        version: 3.1.x
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
  ...

.azure-pipelines/iis-integration-tests.yml:
  jobs:
  - job: Windows
    pool:
      vmImage: windows-2019
    variables:
      buildPlatform: x64
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core 2.1 sdk
      inputs:
        packageType: sdk
        version: $(dotnetCore21SdkVersion)
    - task: DotNetCoreCLI@2
  ...

.azure-pipelines/integration-tests-experimental.yml:
  pool:
    vmImage: ubuntu-18.04
  jobs:
  - job: Windows
    timeoutInMinutes: 80
    strategy:
      matrix:
        x64:
          buildPlatform: x64
          enable32bit: false
        x86:
          buildPlatform: x86
          enable32bit: true
    pool:
      vmImage: windows-2019
    variables:
  ...

.azure-pipelines/integration-tests.yml:
  jobs:
  - job: Linux
    strategy:
      matrix:
        netcoreapp2_1:
          dotnetCoreSdkVersion: 2.1.x
          publishTargetFramework: netcoreapp2.1
        netcoreapp3_0:
          dotnetCoreSdkVersion: 3.0.x
          publishTargetFramework: netcoreapp3.0
        netcoreapp3_1:
  ...

.azure-pipelines/internal-ciapp-pipeline.yml:
  stages:
  - stage: merge_commit_id
    dependsOn: []
    jobs:
    - job: fetch
      timeoutInMinutes: 60
      pool:
        name: azure-linux-task-scale-set
      steps:
      - checkout: none
  ...

.azure-pipelines/managed-unit-tests.yml:
  strategy:
    matrix:
      windows:
        imageName: windows-2019
      linux:
        imageName: ubuntu-16.04
  pool:
    vmImage: $(imageName)
  steps:
  - task: DotNetCoreInstaller@0
    displayName: install dotnet core sdk
    inputs:
      version: 2.2.300
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
  ...

.azure-pipelines/native-unit-tests.yml:
  jobs:
  - job: windows
    strategy:
      matrix:
        x64:
          buildPlatform: x64
        x86:
          buildPlatform: x86
    pool:
      vmImage: windows-2019
    steps:
    - task: NuGetCommand@2
      displayName: nuget restore
      inputs:
        restoreSolution: Datadog.Trace.Native.sln
  ...

.azure-pipelines/runner.yml:
  jobs:
  - job: build_linux_profiler
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
        packageType: sdk
        version: $(dotnetCoreSdk5Version)
        includePreviewVersions: true
    - task: DotNetCoreCLI@2
  ...

add validation to TracerSettings.GlobalSamplingRateInternal, remove manual telemetry
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

use newer C# syntax
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add comment and expand log message
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix another DD_TRACE_SAMPLE_RATE test
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix unit tests for GlobalSamplingRate by adding range validation
  tracer/test/Datadog.Trace.TestHelpers/SettingsTestsBase.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

use newer C# syntax
  tracer/test/Datadog.Trace.TestHelpers/SettingsTestsBase.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add TraceSampler.RegisterRules()
  tracer/src/Datadog.Trace/Sampling/TraceSampler.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add xml-doc comments
  tracer/src/Datadog.Trace/Sampling/TraceSampler.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Profiler] Fix race condition in SocketTimeout (#5648)
  profiler/src/Demos/Samples.Computer01/SocketTimeout.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add preprocessor directive to avoid netcore2.1
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/OracleTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Updating how we handle the tracestate
  tracer/src/Datadog.Trace/Activity/OtlpHelpers.cs
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
  tracer/test/test-applications/integrations/Samples.NetActivitySdk/Program.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Stop producing the 32-bit MSI installer (#5093)
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] [Tracing] fix tag name normalization in `DD_TRACE_HEADER_TAGS` (#4599)
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/DynamicConfigurationManager.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/Tagging/SpanTagHelper.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/ErrorHelpers.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/ExtensionMethods/StringExtensionsTests.cs
  tracer/test/Datadog.Trace.Tests/Tagging/SpanTagHelperTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] [Tracing] Change default value of `DD_TRACE_SAMPLING_RULES_FORMAT` (#5141)
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Create a new Datadog.Trace.Manual project (#5071)
  Datadog.Trace.sln
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
  tracer/build/_build/Projects.cs
  tracer/src/Datadog.Trace.Bundle/Datadog.Trace.Bundle.csproj
  tracer/src/Datadog.Trace.Manual/Datadog.Trace.Manual.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Minor updates for subsequent work (#5065)
  tracer/build/_build/Build.GitHub.cs
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/WafLibraryInvoker.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Ci/TestSession.cs
  tracer/src/Datadog.Trace/IScope.cs
  tracer/src/Datadog.Trace/ISpan.cs
  tracer/src/Datadog.Trace/ISpanContext.cs
  tracer/src/Datadog.Trace/ITracer.cs
  tracer/src/Datadog.Trace/SpanCreationSettings.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add additional fields to linux packages (#5110)
  tracer/build/_build/Build.Steps.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Add unit tests for the `[Instrumented]` attribute (#5259)
  tracer/src/Datadog.Trace.Manual/Configuration/IntegrationSettingsCollection.cs
  tracer/src/Datadog.Trace.OpenTracing/OpenTracingTracerFactory.cs
  tracer/test/Datadog.Trace.OpenTracing.Tests/Datadog.Trace.OpenTracing.Tests.csproj
  tracer/test/Datadog.Trace.OpenTracing.Tests/OpenTracingInstrumentationTests.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/DatadogTraceManualInstrumentationTests.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/InstrumentationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Update manual throughput tests (#5183)
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/ThroughputComparison/CompareThroughput.cs
  tracer/build/crank/Samples.AspNetCoreSimpleController.yml
  tracer/build/crank/run.sh
  tracer/test/test-applications/throughput/Samples.AspNetCoreSimpleController/Program.cs
  tracer/test/test-applications/throughput/Samples.AspNetCoreSimpleController/Samples.AspNetCoreSimpleController.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[ASM][v3] Update template env var meaning (#5166)
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5BlockingTemplates.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCoreBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCoreWithExternalRulesFileBase.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecuritySettingsTests.cs
  tracer/test/snapshots/Security.AspNetCore5.SecurityBlockingTemplatesHtml.__test=server.request.uri.raw_expectedStatusCode=403_url=_health-q=fun.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityBlockingTemplatesJson.__test=server.request.uri.raw_expectedStatusCode=403_url=_Home_Privacy-q=fun.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Samples.Security.AspNetCore5.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/blocking-template1.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/blocking-template2.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Add migration doc for v2 -> v3 (#5091)
  docs/MIGRATING.md
Due: none

Fix GrpcClient nullability issue
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/GrpcLegacyClientCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Change defaults for WCF settings (#5324)
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix rebasing issue
  tracer/src/Datadog.Trace.Manual/Datadog.Trace.Manual.csproj
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Manual.PublicApiHasNotChanged.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Delete the ISpanContextExtractor (#5355)
  tracer/src/Datadog.Trace.Manual/Datadog.Trace.Manual.csproj
  tracer/src/Datadog.Trace.Manual/SpanContextExtractor.cs
  tracer/src/Datadog.Trace/ISpanContextExtractor.cs
  tracer/src/Datadog.Trace/SpanContextExtractor.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Manual.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add integration test for DSM manual instrumentation API (#5419)
  Datadog.Trace.OSX.slnf
  Datadog.Trace.sln
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsContextPropagator.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DataStreamsMonitoringManualApiTest.cs
  tracer/test/snapshots/DataStreamsMonitoringManualApiTest.ContextPropagation.verified.txt
  tracer/test/test-applications/integrations/Samples.DataStreams.ManualAPI/Program.cs
  tracer/test/test-applications/integrations/Samples.DataStreams.ManualAPI/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.DataStreams.ManualAPI/Samples.DataStreams.ManualAPI.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Changes to release process (#5356)
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/auto_update_benchmark_branches.yml
Due: none

[v3] Remove unnecessary System.Net.Http dependency from v3 (#5418)
  tracer/src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  tracer/test/Datadog.Trace.OpenTracing.Tests/Datadog.Trace.OpenTracing.Tests.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Don't bail out of instrumentation if `DD_TRACE_ENABLED=0` (#5420)
  docs/MIGRATING.md
  tracer/build/_build/ThroughputComparison/CompareThroughput.cs
  tracer/build/crank/Samples.AspNetCoreSimpleController.yml
  tracer/build/crank/run.sh
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  tracer/src/Datadog.Trace/AgentProcessManager.cs
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables_util.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables_util.h
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TracerTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Fix `SpanContextInjectorExtractorTests` to account for `tracestate` (#5479)
  tracer/test/Datadog.Trace.Tests/SpanContextInjectorExtractorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Require `ICorProfilerInfo9` for instrumentation (#5493)
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.NetCore.cs
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Build against macos-12 instead of macos-11 (#5395)
  .azure-pipelines/ultimate-pipeline.yml
  docs/MIGRATING.md
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update MIGRATING.md
  docs/MIGRATING.md
Due: none

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github
