Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

.azure-pipelines/crank.yml:
  jobs:
  - job: windows_profiler
    pool:
      vmImage: windows-2019
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core runtime 3.1
      inputs:
        packageType: runtime
        version: 3.1.x
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
  ...

.azure-pipelines/iis-integration-tests.yml:
  jobs:
  - job: Windows
    pool:
      vmImage: windows-2019
    variables:
      buildPlatform: x64
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core 2.1 sdk
      inputs:
        packageType: sdk
        version: $(dotnetCore21SdkVersion)
    - task: DotNetCoreCLI@2
  ...

.azure-pipelines/integration-tests-experimental.yml:
  pool:
    vmImage: ubuntu-18.04
  jobs:
  - job: Windows
    timeoutInMinutes: 80
    strategy:
      matrix:
        x64:
          buildPlatform: x64
          enable32bit: false
        x86:
          buildPlatform: x86
          enable32bit: true
    pool:
      vmImage: windows-2019
    variables:
  ...

.azure-pipelines/integration-tests.yml:
  jobs:
  - job: Linux
    strategy:
      matrix:
        netcoreapp2_1:
          dotnetCoreSdkVersion: 2.1.x
          publishTargetFramework: netcoreapp2.1
        netcoreapp3_0:
          dotnetCoreSdkVersion: 3.0.x
          publishTargetFramework: netcoreapp3.0
        netcoreapp3_1:
  ...

.azure-pipelines/internal-ciapp-pipeline.yml:
  stages:
  - stage: merge_commit_id
    dependsOn: []
    jobs:
    - job: fetch
      timeoutInMinutes: 60
      pool:
        name: azure-linux-task-scale-set
      steps:
      - checkout: none
  ...

.azure-pipelines/managed-unit-tests.yml:
  strategy:
    matrix:
      windows:
        imageName: windows-2019
      linux:
        imageName: ubuntu-16.04
  pool:
    vmImage: $(imageName)
  steps:
  - task: DotNetCoreInstaller@0
    displayName: install dotnet core sdk
    inputs:
      version: 2.2.300
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
  ...

.azure-pipelines/native-unit-tests.yml:
  jobs:
  - job: windows
    strategy:
      matrix:
        x64:
          buildPlatform: x64
        x86:
          buildPlatform: x86
    pool:
      vmImage: windows-2019
    steps:
    - task: NuGetCommand@2
      displayName: nuget restore
      inputs:
        restoreSolution: Datadog.Trace.Native.sln
  ...

.azure-pipelines/runner.yml:
  jobs:
  - job: build_linux_profiler
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
        packageType: sdk
        version: $(dotnetCoreSdk5Version)
        includePreviewVersions: true
    - task: DotNetCoreCLI@2
  ...

Fix macos comp
  tracer/src/Datadog.Tracer.Native/iast/method_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/method_info.h
  tracer/src/Datadog.Tracer.Native/iast/module_info.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Skip Activity if there are no Ids (#5690)
  tracer/src/Datadog.Trace/Activity/Handlers/ActivityHandlerCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Single-step guard rails: Use stdin instead of args to invoke telemetry (#5677)
  shared/src/Datadog.Trace.ClrProfiler.Native/process_helper.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/process_helper.h
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
  tracer/test/test-applications/integrations/Samples.Console/Program.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Enable runtime metrics for test
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/RuntimeMetricsShutdownSmokeTest.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Detect and fix null ref
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/AsyncLocalScopeManager.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Remoting/Client/HttpProcessResponseExceptionIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Remoting/Client/IpcTcpProcessMessageIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutomaticTracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/DistributedTracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/IDistributedTracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/ManualTracer.cs
  tracer/src/Datadog.Trace/IScopeManager.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/src/Datadog.Trace/TracerManager.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add the fix
  tracer/src/Datadog.Trace/TracerManager.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix the path of the log file
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix crash at shutdown in runtime metrics (#5696)
  Datadog.Trace.sln
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/RuntimeMetricsShutdownSmokeTest.cs
  tracer/test/test-applications/regression/RuntimeMetricsShutdown/Program.cs
  tracer/test/test-applications/regression/RuntimeMetricsShutdown/Properties/launchSettings.json
  tracer/test/test-applications/regression/RuntimeMetricsShutdown/RuntimeMetricsShutdown.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add more exception types to crash tracking (#5697)
  tracer/src/Datadog.Trace.Tools.dd_dotnet/CreatedumpCommand.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix the path of the log file (#5700)
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

last fixes
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Version Bump] 2.55.0
  docs/CHANGELOG.md
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Resource.rc
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/dd_profiler_version.h
  profiler/src/ProfilerEngine/ProductVersion.props
  shared/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  shared/src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  shared/src/msi-installer/WindowsInstaller.wixproj
  shared/src/native-src/version.h
  tracer/build/_build/Build.cs
  tracer/build/artifacts/dd-dotnet.sh
  tracer/samples/AutomaticTraceIdInjection/Log4NetExample/Log4NetExample.csproj
  tracer/samples/AutomaticTraceIdInjection/MicrosoftExtensionsExample/MicrosoftExtensionsExample.csproj
  tracer/samples/AutomaticTraceIdInjection/NLog40Example/NLog40Example.csproj
  tracer/samples/AutomaticTraceIdInjection/NLog45Example/NLog45Example.csproj
  tracer/samples/AutomaticTraceIdInjection/NLog46Example/NLog46Example.csproj
  tracer/samples/AutomaticTraceIdInjection/SerilogExample/SerilogExample.csproj
  tracer/samples/ConsoleApp/Alpine3.10.dockerfile
  tracer/samples/ConsoleApp/Alpine3.9.dockerfile
  tracer/samples/ConsoleApp/Debian.dockerfile
  tracer/samples/OpenTelemetry/Debian.dockerfile
  tracer/samples/WindowsContainer/Dockerfile
  tracer/src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  tracer/src/Datadog.Trace.BenchmarkDotNet/Datadog.Trace.BenchmarkDotNet.csproj
  tracer/src/Datadog.Trace.Bundle/Datadog.Trace.Bundle.csproj
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  tracer/src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  tracer/src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Datadog.Trace.Tools.dd_dotnet.csproj
  tracer/src/Datadog.Trace.Trimming/Datadog.Trace.Trimming.csproj
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Trace/TracerConstants.cs
  tracer/src/Datadog.Tracer.Native/CMakeLists.txt
  tracer/src/Datadog.Tracer.Native/Resource.rc
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
  tracer/tools/PipelineMonitor/PipelineMonitor.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Don't output version in same run as changing the version
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/force_manual_version_bump.yml
Due: none

Don't run create version bump PR for hotfix releases
  .github/workflows/auto_create_version_bump_pr.yml
Due: none

[Remote Configuration] Buffer the response and include in error (#5675)
  tracer/src/Datadog.Trace/Agent/IApiResponse.cs
  tracer/src/Datadog.Trace/Util/Streams/InitiallyBufferedStream.cs
  tracer/test/Datadog.Trace.Tests/RemoteConfigurationManagement/RcmResponses.cs
  tracer/test/Datadog.Trace.Tests/RemoteConfigurationManagement/RemoteConfigurationApiTests.cs
  tracer/test/Datadog.Trace.Tests/Util/InitiallyBufferedStreamTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Minor fixes for hotfix workflows (#5702)
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/force_manual_version_bump.yml
Due: none

update codeowners
  .github/CODEOWNERS
Due: none

update config keys
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

update codeowners (#5703)
  .github/CODEOWNERS
Due: none

Avoid infinite recursion in RuntimeMetricsWriter.FirstChanceException
  tracer/src/Datadog.Trace/RuntimeMetrics/RuntimeMetricsWriter.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix typo
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/JsonConfigurationSource.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Apparently GitHub doesn't like that syntax
  .github/workflows/auto_create_version_bump_pr.yml
Due: none

Apparently GitHub doesn't like that syntax (#5706)
  .github/workflows/auto_create_version_bump_pr.yml
Due: none

Added missing method to be able to compile
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/AspNetCoreBlockMiddlewareIntegrationEnd.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

clean up usings
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/JsonConfigurationSource.cs
  tracer/test/Datadog.Trace.Tests/Configuration/Telemetry/ConfigurationBuilderTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

check token type and use ToString()
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/JsonConfigurationSource.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Build native test binaries in build jobs
  .azure-pipelines/ultimate-pipeline.yml
  .nuke/build.schema.json
  shared/CMakeLists.txt
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/Projects.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix native tests run
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Steps.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix it
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/build/_build/Build.Steps.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix macos build
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Shared.Steps.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix remaining failures
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Profiler.Steps.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Almost there
  .azure-pipelines/ultimate-pipeline.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Produce unit tests output in build_data folder
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/build/_build/Build.Steps.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix github actions jobs
  .github/workflows/verify_app_trimming_changes_are_persisted.yml
  .github/workflows/verify_source_generated_changes_are_persisted.yml
Due: none

use Formatting.None
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/JsonConfigurationSource.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

use GetAs<string>() instead of AsString()
  tracer/src/Datadog.Trace/Configuration/DynamicConfigurationManager.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github
