Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github

Fix not equal operator (#5212)
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.Binary.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.cs
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.NotEqual.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/NotEqual.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add db name & host to sql injected tags (#5278)
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/src/Datadog.Trace/DatabaseMonitoring/DatabaseMonitoringPropagator.cs
  tracer/test/Datadog.Trace.Tests/DatabaseMonitoring/DatabaseMonitoringPropagatorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Minor updates for subsequent work (#5065)
  tracer/build/_build/Build.GitHub.cs
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/WafLibraryInvoker.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Ci/TestSession.cs
  tracer/src/Datadog.Trace/IScope.cs
  tracer/src/Datadog.Trace/ISpan.cs
  tracer/src/Datadog.Trace/ISpanContext.cs
  tracer/src/Datadog.Trace/ITracer.cs
  tracer/src/Datadog.Trace/SpanCreationSettings.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Stop producing the 32-bit MSI installer (#5093)
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add additional fields to linux packages (#5110)
  tracer/build/_build/Build.Steps.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Create a new Datadog.Trace.Manual project (#5071)
  Datadog.Trace.sln
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
  tracer/build/_build/Projects.cs
  tracer/src/Datadog.Trace.Bundle/Datadog.Trace.Bundle.csproj
  tracer/src/Datadog.Trace.Manual/Datadog.Trace.Manual.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] [Tracing] fix tag name normalization in `DD_TRACE_HEADER_TAGS` (#4599)
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/DynamicConfigurationManager.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/ExtensionMethods/StringExtensions.cs
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/Tagging/SpanTagHelper.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/ErrorHelpers.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/ExtensionMethods/StringExtensionsTests.cs
  tracer/test/Datadog.Trace.Tests/Tagging/SpanTagHelperTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] [Tracing] Change default value of `DD_TRACE_SAMPLING_RULES_FORMAT` (#5141)
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Update manual throughput tests (#5183)
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/ThroughputComparison/CompareThroughput.cs
  tracer/build/crank/Samples.AspNetCoreSimpleController.yml
  tracer/build/crank/run.sh
  tracer/test/test-applications/throughput/Samples.AspNetCoreSimpleController/Program.cs
  tracer/test/test-applications/throughput/Samples.AspNetCoreSimpleController/Samples.AspNetCoreSimpleController.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[ASM][v3] Update template env var meaning (#5166)
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5BlockingTemplates.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCoreWithExternalRulesFileBase.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecuritySettingsTests.cs
  tracer/test/snapshots/Security.AspNetCore5.SecurityBlockingTemplatesHtml.__test=server.request.uri.raw_expectedStatusCode=403_url=_health-q=fun.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityBlockingTemplatesJson.__test=server.request.uri.raw_expectedStatusCode=403_url=_Home_Privacy-q=fun.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Samples.Security.AspNetCore5.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/blocking-template1.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/blocking-template2.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[v3] Add unit tests for the `[Instrumented]` attribute (#5259)
  tracer/src/Datadog.Trace.Manual/Configuration/IntegrationSettingsCollection.cs
  tracer/src/Datadog.Trace.OpenTracing/OpenTracingTracerFactory.cs
  tracer/test/Datadog.Trace.OpenTracing.Tests/Datadog.Trace.OpenTracing.Tests.csproj
  tracer/test/Datadog.Trace.OpenTracing.Tests/OpenTracingInstrumentationTests.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/DatadogTraceManualInstrumentationTests.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/InstrumentationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Improve lazyness
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Span.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Squashed commit of the following:
  Datadog.Trace.OSX.slnf
  tracer/src/Datadog.Trace/Ci/CIEnvironmentValues.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/snapshots/MsTestV2EvpTests.SubmitTraces_packageVersion=new_evpVersionToRemove=null_expectedGzip=null.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.SubmitTraces_packageVersion=old_evpVersionToRemove=null_expectedGzip=null.verified.txt
  tracer/test/snapshots/MsTestV2Tests.SubmitTraces_packageVersion=new.verified.txt
  tracer/test/snapshots/MsTestV2Tests.SubmitTraces_packageVersion=old.verified.txt
  tracer/test/snapshots/MsTestV2Tests2.SubmitTraces_packageVersion=new.verified.txt
  tracer/test/snapshots/MsTestV2Tests2.SubmitTraces_packageVersion=old.verified.txt
  tracer/test/snapshots/NUnitEvpTests.SubmitTraces_packageVersion=all_evpVersionToRemove=null_expectedGzip=null.verified.txt
  tracer/test/snapshots/NUnitTests.SubmitTraces_packageVersion=all.verified.txt
  tracer/test/snapshots/XUnitEvpTests.SubmitTraces_packageVersion=all_evpVersionToRemove=null_expectedGzip=null.verified.txt
  tracer/test/snapshots/XUnitTests.SubmitTraces_packageVersion=all.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

improve condition
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Improve metaStrcut accessing
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Span.cs
  tracer/test/Datadog.Trace.Tests/SpanMetaStructTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/MetaStructController.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

small change
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

decrease complexity
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Minor (potential) fixes for `NullReferenceException` (#5230)
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ThreadContext_AssociateWithCurrentThread_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ThreadContext_DisassociateFromCurrentThread_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
  tracer/test/Datadog.Trace.Tests/Util/Delegates/FuncInstrumentationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Setting DisableParallelization to true
  tracer/test/Datadog.Trace.TestHelpers/CustomTestFramework.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add support for remote TraceEnabled setting
  tracer/src/Datadog.Trace/Configuration/DynamicConfigurationManager.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableDynamicSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix unrelated typo
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add missing RCM capability 18
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RcmCapabilitiesIndices.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add ApmTracingEnabled capability 19
  tracer/src/Datadog.Trace/Configuration/DynamicConfigurationManager.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RcmCapabilitiesIndices.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

include config in integration tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DynamicConfigurationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add comments to unit test
  tracer/test/Datadog.Trace.Tests/Configuration/DynamicConfigurationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add mapping
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/DynamicConfigConfigurationSource.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add unit test
  tracer/test/Datadog.Trace.Tests/Configuration/DynamicConfigurationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

rename property to match RCM constant
  tracer/src/Datadog.Trace/Configuration/DynamicConfigurationManager.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RcmCapabilitiesIndices.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix test json
  tracer/test/Datadog.Trace.Tests/Configuration/DynamicConfigurationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

rewrite tests to use raw values instead of strings
  tracer/test/Datadog.Trace.Tests/Configuration/DynamicConfigurationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Handle case where `SetException` throws
  tracer/src/Datadog.Trace/Span.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix errors identified from telemetry (#5279)
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/AwsSqsHandlerCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/IReceiveMessageRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocolWithCommandStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocolWithDatabaseNamespaceStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/MongoDbIntegration.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

ci: Use GITHUB_OUTPUT envvar instead of set-output command
  .github/workflows/auto_create_version_bump_pr.yml
Due: none

Add small 1ms delay to WCF service endpoints to make snapshot results more deterministic
  tracer/test/test-applications/integrations/Samples.Wcf/Server/CalculatorService.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml
