Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github

Reorganize managed instrumentation tests by ownership
  .github/CODEOWNERS
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/DbScopeFactoryTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/IntegrationVersionRangeTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/ScopeFactoryTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/DataStreamsMonitoring/AWS/EventBridge/ContextPropagationTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/DataStreamsMonitoring/AWS/Kinesis/ContextPropagationTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Debugger/PdbReaderTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Debugger/SourceLinkUriParserTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Debugger/TrieTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Serverless/AWS/AwsApiGatewayExtractorTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Serverless/AWS/AwsApiGatewaySpanFactoryTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Serverless/Azure/AzureApiManagementExtractorTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Serverless/Azure/AzureApiManagementSpanFactoryTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Serverless/Azure/HttpBypassTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Serverless/Azure/ServerlessCompatIntegrationTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Serverless/InferredProxyCoordinatorTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Serverless/InferredProxySpanHelperTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Serverless/ProxyTestHelpers.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/AttributeTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/CustomTestFramework.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/Reflection/AbstractAlphabetClass.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/Reflection/ClassA.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/Reflection/ClassB.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/Reflection/ClassC.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/Reflection/ClosedGenericClass.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/Reflection/MethodCallMetadata.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/Reflection/MethodReference.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/Reflection/NestedOpenGenericClass.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/Reflection/ObscenelyAnnoyingClass.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/Reflection/ObscenelyAnnoyingGenericClass.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/Reflection/OpenGenericClass.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TestInfrastructure/TypeNameTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Simplify test project ownership rules
  .github/CODEOWNERS
Due: none

Fix benchmark ownership and shared helper paths
  .github/CODEOWNERS
  tracer/test/benchmarks/Benchmarks.OpenTelemetry.InstrumentedApi/Benchmarks.OpenTelemetry.InstrumentedApi.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Reorganize source generator tests by ownership
  .github/CODEOWNERS
  tracer/test/Datadog.Trace.SourceGenerators.Tests/TestInfrastructure/InstrumentationDefinitionsGeneratorTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/TestInfrastructure/SourceHelper.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/TestInfrastructure/TestHelpers.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/Tracing/ConfigKeyAliasesSwitcherGeneratorTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/Tracing/ConfigurationKeysGeneratorTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/Tracing/EnumExtensionsGeneratorTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/Tracing/TagsListGeneratorTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/Tracing/TelemetryMetricGeneratorTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/Tracing/YamlReaderTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add tracing co-owners to IDM-only test rules
  .github/CODEOWNERS
Due: none

Add the other test helpers to the common directories
  tracer/build/_build/Build.VariableGenerations.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Support stable OTel deployment environment attribute (#9150)
  tracer/src/Datadog.Trace/Activity/OtlpHelpers.cs
  tracer/src/Datadog.Trace/Configuration/MutableSettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/MutableSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Tagging/ActivityTagsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Actually grab exception
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/Durable/DurableFunctionExecutorExecuteAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/Durable/IDurableSerializationException.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsDurableTriggerTests.cs
  tracer/test/snapshots/AzureFunctionsDurableTriggerTests.OrchestrationActivityEntity_SubmitsTrace.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Unnecessary comment
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/Durable/DurableFunctionExecutorExecuteAsyncIntegration.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Drop V1 schema rows in pairwise mode (#8536)
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/CombinatorialParams.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update Samples.Yarp.DistributedTracing to demonstrate reparent error
  tracer/test/snapshots/YarpDistributedTracingTests.verified.txt
  tracer/test/test-applications/integrations/Samples.Yarp.DistributedTracing/Samples.Yarp.DistributedTracing.csproj
  tracer/test/test-applications/integrations/Samples.Yarp.DistributedTracing/Startup.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Expand YARP sample OTel setup to match Ocelot, suppress Worker propagator
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/YarpDistributedTracingTests.cs
  tracer/test/snapshots/YarpDistributedTracingTests.verified.txt
  tracer/test/test-applications/integrations/Samples.Yarp.DistributedTracing/Samples.Yarp.DistributedTracing.csproj
  tracer/test/test-applications/integrations/Samples.Yarp.DistributedTracing/Startup.cs
  tracer/test/test-applications/integrations/Samples.Yarp.DistributedTracing/Worker.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Set YARP ActivityHeadersPropagator to null instead of NoOutputPropagator
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/SocketsHttpHandler/YarpForwarderHttpClientFactoryIntegration.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/YarpDistributedTracingTests.cs
  tracer/test/snapshots/YarpDistributedTracingTests.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Split snapshots on .NET 8 or greater
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/YarpDistributedTracingTests.cs
  tracer/test/snapshots/YarpDistributedTracingTests.NetCore.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Increase Yarp to instrument 1.0.0 up from 1.1.0
  tracer/build/supported_calltargets.g.json
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/SocketsHttpHandler/YarpForwarderHttpClientFactoryIntegration.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
  tracer/test/test-applications/integrations/Samples.Yarp.DistributedTracing/Samples.Yarp.DistributedTracing.csproj
  tracer/test/test-applications/integrations/Samples.Yarp.DistributedTracing/Startup.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Attempt to work around runtime flake for ASM
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/AspNetCoreTestFixture.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Debugger] Avoid eager span context lookup for non-payload probes
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeProcessor.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotCreator.cs
  tracer/src/Datadog.Trace/TraceContext.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Filter at test level
  .github/copilot-instructions.md
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Delete copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Update Build.Steps.cs
  tracer/build/_build/Build.Steps.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

testing
  tracer/test/Datadog.Trace.Tests/Debugger/CoordinatedSamplingTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionReplay.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionReplay.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[CI Visibility] Fix custom MSTest attribute skipping across MSTest 2-4 (#9271)
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/SkipTestMethodExecutor.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodAttributeExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteTestIntegration.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.Tests/Ci/MsTestSkipTestMethodExecutorTests.cs
  tracer/test/Datadog.Trace.Tests/Ci/TestMethodAttribute.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Debugger] Box value-type keys when indexing IDictionary
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.Collection.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerExpressionLanguageTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Debugger] Apply C# implicit conversions to indexer arguments
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.Collection.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerExpressionLanguageTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix linux build issues and cleanup
  docs/OTelContextPropagation.md
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/NativeValidation/native-tracer-symbols-alpine-arm64.verified.txt
  tracer/build/_build/NativeValidation/native-tracer-symbols-alpine-x64.verified.txt
  tracer/src/Datadog.Trace/OtelThreadContext/NullOtelThreadContextPublisher.cs
  tracer/src/Datadog.Trace/OtelThreadContext/OtelProcessContextAnnouncer.cs
  tracer/src/Datadog.Trace/OtelThreadContext/OtelThreadContextPublisher.cs
  tracer/src/Datadog.Trace/OtelThreadContext/OtelThreadContextRecord.cs
  tracer/test/Datadog.Trace.Tests/OtelThreadContext/OtelThreadContextPublisherTests.cs
  tracer/test/Datadog.Tracer.Native.Tests/otel_thread_ctx_test.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Swap NLog to CombinatorialOrPairwiseData
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NLogTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Activity] Route Quartz stop callbacks consistently
  tracer/src/Datadog.Trace/Activity/ActivityListenerHandler.cs
  tracer/src/Datadog.Trace/Activity/Handlers/QuartzActivityHandler.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/QuartzDiagnosticObserver.cs
  tracer/test/Datadog.Trace.Tests/Activity/IntegrationActivityHandlerTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Activity] Isolate Quartz handler routing test
  tracer/src/Datadog.Trace/Activity/ActivityListenerHandler.cs
  tracer/test/Datadog.Trace.Tests/Activity/IntegrationActivityHandlerTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

handle null correctly
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.Collection.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerExpressionLanguageTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Address codex' comments
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/Durable/AzureFunctionsDurableCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/Durable/AzureFunctionsDurablePropagation.cs
  tracer/test/snapshots/AzureFunctionsDurableTriggerTests.OrchestrationActivityEntity_SubmitsTrace.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix .NET 11 Debugger warnings
  tracer/src/Datadog.Trace/Debugger/Configurations/ProbeConfigurationComparer.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update VS Config
  .vsconfig
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix double->decimal conversion issues
  tracer/test/test-applications/integrations/Samples.GraphQL4/StarWarsExtensions/StarWarsSubscription.cs
  tracer/test/test-applications/integrations/Samples.HotChocolate/ErrorMiddleware.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix double encoding in EncoderUnitTests
  tracer/test/Datadog.Trace.Security.Unit.Tests/EncoderUnitTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update ASP.NET Core re-execute handling in .NET 11
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreEndpointRoutingTestData.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreMvcTestData.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreRazorPagesTestData.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/ErrorHandlingHelper.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add `SupportedOSPlatformGuard`s to `IsWindows()` to shut up analyzers
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentTools.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Trim prerelease SDK version for smoke-test DOTNETSDK_VERSION build-arg
  tracer/build/_build/Build.SmokeTests.cs
  tracer/build/_build/Build.Utilities.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Pass through TF to ensure deterministic builds
  .azure-pipelines/steps/run-in-docker.yml
  docker-compose.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml
