Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github

Downgrade MSTest.TestFramework to 3.10.4
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Adding UDS test, support and also nits for Tag handling
  tracer/src/Datadog.Trace/OTelMetrics/MetricPoint.cs
  tracer/src/Datadog.Trace/OTelMetrics/MetricReader.cs
  tracer/src/Datadog.Trace/OTelMetrics/MetricReaderHandler.cs
  tracer/src/Datadog.Trace/OTelMetrics/MetricState.cs
  tracer/src/Datadog.Trace/OTelMetrics/OtlpExporter.cs
  tracer/src/Datadog.Trace/OTelMetrics/OtlpMetricsSerializer.cs
  tracer/src/Datadog.Trace/OTelMetrics/TagSet.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/OpenTelemetrySdkTests.cs
  tracer/test/Datadog.Trace.TestHelpers/Datadog.Trace.TestHelpers.csproj
  tracer/test/Datadog.Trace.TestHelpers/MockOtlpGrpcServer.cs
  tracer/test/test-applications/integrations/Samples.OpenTelemetrySdk/CustomTracerProviderBuilderExtensions.cs
  tracer/test/test-applications/integrations/Samples.OpenTelemetrySdk/Samples.OpenTelemetrySdk.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add some notes to AGENTS.md
  AGENTS.md
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add CLAUDE.md with a reference to existing AGENTS.md
  CLAUDE.md
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

move file
  .claude/CLAUDE.md
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add note to follow PR description template
  AGENTS.md
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

skip building when these files are modified
  .azure-pipelines/ultimate-pipeline.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

clarify
  AGENTS.md
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

quote the literal glob pattern string
  .azure-pipelines/ultimate-pipeline.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add `CLAUDE.md`, updates to `AGENTS.md` (#7602)
  .azure-pipelines/ultimate-pipeline.yml
  .claude/CLAUDE.md
  AGENTS.md
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

move InstrumentationName property from derived types to InstrumentationTags base type
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Elasticsearch/ElasticsearchTags.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/GraphQLTags.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/HotChocolateCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/Net/GraphQLCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/MongoDbTags.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Process/ProcessStartTags.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/RabbitMQIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/RedisTags.cs
  tracer/src/Datadog.Trace/ServiceFabric/ServiceRemotingTags.cs
  tracer/src/Datadog.Trace/Tagging/AerospikeTags.cs
  tracer/src/Datadog.Trace/Tagging/AspNetCoreTags.cs
  tracer/src/Datadog.Trace/Tagging/AspNetTags.cs
  tracer/src/Datadog.Trace/Tagging/AwsSdkTags.cs
  tracer/src/Datadog.Trace/Tagging/AzureFunctionsTags.cs
  tracer/src/Datadog.Trace/Tagging/CosmosDbTags.cs
  tracer/src/Datadog.Trace/Tagging/CouchbaseTags.cs
  tracer/src/Datadog.Trace/Tagging/GrpcTags.cs
  tracer/src/Datadog.Trace/Tagging/HttpTags.cs
  tracer/src/Datadog.Trace/Tagging/IbmMqTags.cs
  tracer/src/Datadog.Trace/Tagging/InferredProxyTags.cs
  tracer/src/Datadog.Trace/Tagging/InstrumentationTags.cs
  tracer/src/Datadog.Trace/Tagging/KafkaTags.cs
  tracer/src/Datadog.Trace/Tagging/MsmqTags.cs
  tracer/src/Datadog.Trace/Tagging/RabbitMQTags.cs
  tracer/src/Datadog.Trace/Tagging/RemotingTags.cs
  tracer/src/Datadog.Trace/Tagging/SqlTags.cs
  tracer/src/Datadog.Trace/Tagging/TraceAnnotationTags.cs
  tracer/src/Datadog.Trace/Tagging/WcfTags.cs
  tracer/src/Datadog.Trace/Tagging/WebTags.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Simplification, span context deduplication, BatchSpanContextStorage
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/AmqpConsumerReceiveAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventDataBatchTryAddIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventHubProducerClientSendBatchAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventHubsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/ServiceBus/SendServiceBusMessageBatchIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/ServiceBus/ServiceBusBatchSpanContext.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/ServiceBus/ServiceBusReceiverReceiveMessagesAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/ServiceBus/ServiceBusSenderSendMessageBatchAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Shared/BatchSpanContextStorage.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Shared/SpanContextComparer.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Unify ExtractPropagatedContextFrom* into one
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Revert "Revert "[Profiler] Make `timer_create`-based CPU profiler default (#7322)"" (#7578)
  profiler/build/CpuWallTime.linux.json
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CpuSampleProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CpuSampleProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/ProfilerSignalManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/ProfilerSignalManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/RawSampleCollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/SignalHandlerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/TimerCreateCpuProfilerTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/CpuSampleProviderTest.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update
  .gitlab-ci.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Do not include pipeline if docs
  .gitlab-ci.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Minimum event hubs version
  tracer/build/supported_calltargets.g.json
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/AmqpConsumerReceiveAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventDataBatchTryAddIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventHubProducerClientSendBatchAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventHubProducerClientSendEnumerableAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventHubsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/InstrumentMessageIntegration.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Use AzureMessagingCommon Extract/Inject context for service bus as well
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/AmqpConsumerReceiveAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/ServiceBus/ContextPropagation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/ServiceBus/ServiceBusReceiverReceiveMessagesAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Shared/AzureMessagingCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Indentation and remove some unused using directives
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/AmqpConsumerReceiveAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventDataBatchTryAddIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventHubProducerClientSendBatchAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventHubProducerClientSendEnumerableAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventHubsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/IAmqpConsumer.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/IEventData.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/IEventDataBatch.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/IEventHubProducerClient.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/InstrumentMessageIntegration.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Azure/AzureEventHubsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add supported configurations file and ci step
  .gitlab-ci.yml
  .gitlab/one-pipeline.locked.yaml
  tracer/src/Datadog.Trace/Configuration/supported-configurations.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Split configuration keys in platform keys
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.AzureAppService.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.GCPFunction.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/PlatformKeys.Aws.cs
  tracer/src/Datadog.Trace/Configuration/PlatformKeys.AzureAppService.cs
  tracer/src/Datadog.Trace/Configuration/PlatformKeys.AzureFunctions.cs
  tracer/src/Datadog.Trace/Configuration/PlatformKeys.GCPFunction.cs
  tracer/src/Datadog.Trace/Configuration/PlatformKeys.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Adapt platform keys usage in tracer
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableAzureAppServiceSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableGCPFunctionSettings.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationSettings.cs
  tracer/src/Datadog.Trace/Util/EnvironmentHelpers.cs
  tracer/src/Datadog.Trace/Util/EnvironmentHelpersNoLogging.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Adapt platform key usage in tests
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/DbScopeFactoryTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/AASTagsTests.cs
  tracer/test/Datadog.Trace.TestHelpers/PlatformHelpers/AzureAppServiceHelper.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ImmutableAzureAppServiceSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ImmutableGCPFunctionSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/IntegrationSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/MutableSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsServerlessTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/ContinuousProfiler/ProfilerAvailabilityHelperTests.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/ManualInstrumentationLegacyConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/SettingsInstrumentationTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[crashtracking] Change Crashtracking filtering default value (#7598)
  tracer/src/Datadog.Trace.Tools.dd_dotnet/CreatedumpCommand.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/CreatedumpTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Mark FlakyRetriesWithExceptionReplay as flaky
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2RetriesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitRetriesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitRetriesTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Increase timeout
  .gitlab-ci.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

increase retries
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2RetriesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitRetriesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitRetriesTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Telemetry.IntegrationGeneratedSpan, null checks improvements, remove unnecessary intermediate list
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/AmqpConsumerReceiveAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventDataBatchTryAddIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventHubsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/ServiceBus/AzureServiceBusCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/ServiceBus/ServiceBusReceiverReceiveMessagesAsyncIntegration.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Increase the Gitlab Build timeout (#7604)
  .gitlab-ci.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

dummy change
  changes.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Small cleanup
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventDataBatchTryAddIntegration.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

improve handling of github.event.pull_request.head.ref
  .github/workflows/delete-pr-image.yml
Due: none

Mark FlakyRetriesWithExceptionReplay as flaky (#7603)
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2RetriesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitRetriesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitRetriesTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[SINT-4157] improve workflow (#7599)
  .github/workflows/delete-pr-image.yml
Due: none

resolve TODOs
  .gitlab/benchmarks/microbenchmarks.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

More cleanup
  tracer/build/supported_versions.json
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventDataBatchTryAddIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventHubProducerClientSendBatchAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventHubProducerClientSendEnumerableAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/EventHubsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/IEventDataBatch.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/EventHubs/IEventHubProducerClient.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
  tracer/test/test-applications/integrations/Samples.AzureEventHubs/Program.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Event hubs disabled test
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Azure/AzureEventHubsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

changes
  tracer/src/Datadog.Trace/Agent/Transports/NativeAgentless.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Profiler] Leverage new .NET 10 allocation sampling (#6930)
  Datadog.Profiler.sln
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IAllocationsListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IUpscaleProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfileExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfileExporter.h
  profiler/src/Tools/AllocSimulator/AllocSimulator.csproj
  profiler/src/Tools/AllocSimulator/PProfFile.cs
  profiler/src/Tools/AllocSimulator/ProfileAllocations.cs
  profiler/src/Tools/AllocSimulator/Program.cs
  profiler/src/Tools/AllocationSampling/Allocate/Allocate.csproj
  profiler/src/Tools/AllocationSampling/Allocate/AllocateArraysOfDoubles.cs
  profiler/src/Tools/AllocationSampling/Allocate/AllocateDifferentTypes.cs
  profiler/src/Tools/AllocationSampling/Allocate/AllocateRatioSizedArrays.cs
  profiler/src/Tools/AllocationSampling/Allocate/AllocateSmallAndBig.cs
  profiler/src/Tools/AllocationSampling/Allocate/AllocationsRunEventSource.cs
  profiler/src/Tools/AllocationSampling/Allocate/IAllocations.cs
  profiler/src/Tools/AllocationSampling/Allocate/Program.cs
  profiler/src/Tools/AllocationSampling/Allocate/Properties/launchSettings.json
  profiler/src/Tools/AllocationSampling/Allocate/ThreadedAllocations.cs
  profiler/src/Tools/AllocationSampling/AllocationProfiler/AllocationProfiler.csproj
  profiler/src/Tools/AllocationSampling/AllocationProfiler/Program.cs
  profiler/src/Tools/AllocationSampling/AllocationProfiler/Properties/launchSettings.json
  profiler/src/Tools/AllocationSampling/AllocationSampling.sln
  profiler/src/Tools/AllocationSampling/README.md
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ClrEventsParserTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml
