Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

.azure-pipelines/crank.yml:
  jobs:
  - job: windows_profiler
    pool:
      vmImage: windows-2019
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core runtime 3.1
      inputs:
        packageType: runtime
        version: 3.1.x
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
  ...

.azure-pipelines/iis-integration-tests.yml:
  jobs:
  - job: Windows
    pool:
      vmImage: windows-2019
    variables:
      buildPlatform: x64
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core 2.1 sdk
      inputs:
        packageType: sdk
        version: $(dotnetCore21SdkVersion)
    - task: DotNetCoreCLI@2
  ...

.azure-pipelines/integration-tests-experimental.yml:
  pool:
    vmImage: ubuntu-18.04
  jobs:
  - job: Windows
    timeoutInMinutes: 80
    strategy:
      matrix:
        x64:
          buildPlatform: x64
          enable32bit: false
        x86:
          buildPlatform: x86
          enable32bit: true
    pool:
      vmImage: windows-2019
    variables:
  ...

.azure-pipelines/integration-tests.yml:
  jobs:
  - job: Linux
    strategy:
      matrix:
        netcoreapp2_1:
          dotnetCoreSdkVersion: 2.1.x
          publishTargetFramework: netcoreapp2.1
        netcoreapp3_0:
          dotnetCoreSdkVersion: 3.0.x
          publishTargetFramework: netcoreapp3.0
        netcoreapp3_1:
  ...

.azure-pipelines/internal-ciapp-pipeline.yml:
  stages:
  - stage: merge_commit_id
    dependsOn: []
    jobs:
    - job: fetch
      timeoutInMinutes: 60
      pool:
        name: azure-linux-task-scale-set
      steps:
      - checkout: none
  ...

.azure-pipelines/managed-unit-tests.yml:
  strategy:
    matrix:
      windows:
        imageName: windows-2019
      linux:
        imageName: ubuntu-16.04
  pool:
    vmImage: $(imageName)
  steps:
  - task: DotNetCoreInstaller@0
    displayName: install dotnet core sdk
    inputs:
      version: 2.2.300
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
  ...

.azure-pipelines/native-unit-tests.yml:
  jobs:
  - job: windows
    strategy:
      matrix:
        x64:
          buildPlatform: x64
        x86:
          buildPlatform: x86
    pool:
      vmImage: windows-2019
    steps:
    - task: NuGetCommand@2
      displayName: nuget restore
      inputs:
        restoreSolution: Datadog.Trace.Native.sln
  ...

.azure-pipelines/runner.yml:
  jobs:
  - job: build_linux_profiler
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
        packageType: sdk
        version: $(dotnetCoreSdk5Version)
        includePreviewVersions: true
    - task: DotNetCoreCLI@2
  ...

fix
  .azure-pipelines/steps/ensure-docker-ready.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[crashtracker] Improve crashtracker message (#8182)
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CrashReportingLinux.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CrashReportingLinux.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/CrashReportingWindows.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/CrashReportingWindows.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.h
  shared/src/Datadog.Trace.ClrProfiler.Native/crashhandler.cpp
  tracer/src/Datadog.Trace.Tools.dd_dotnet/CreatedumpCommand.cs
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Generated/Datadog.Trace.Tools.dd_dotnet.SourceGenerators/NativeObjectsGenerator/dd_dotnet.ICrashReport.g.cs
  tracer/src/Datadog.Trace.Tools.dd_dotnet/ICrashReport.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/CreatedumpTests.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.Tests/CreatedumpTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

feat(ducktype-aot): add one-step generate mapping discovery
  docs/development/DuckTyping.NativeAOT.BuildIntegration.md
  docs/development/DuckTyping.NativeAOT.md
  docs/development/for-ai/DuckTyping-NativeAOT-Plan.md
  tracer/src/Datadog.Trace.Tools.Runner/DuckTypeAot/DuckTypeAotGenerateCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/DuckTypeAot/DuckTypeAotGenerateOptions.cs
  tracer/src/Datadog.Trace.Tools.Runner/DuckTypeAot/DuckTypeAotGenerateProcessor.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/DuckTypeAotProcessorsTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add support for ducktyping private fields and properties from a base type (#8248)
  tracer/src/Datadog.Trace/DuckTyping/DuckAttribute.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckType.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/ReferenceType/ProxiesDefinitions/IObscureDuckType.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/ReferenceType/ProxiesDefinitions/ObscureDuckTypeAbstractClass.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/ReferenceType/ProxiesDefinitions/ObscureDuckTypeVirtualClass.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/ReferenceType/ReferenceTypeFieldTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/TypeChaining/ProxiesDefinitions/IObscureDuckType.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/TypeChaining/ProxiesDefinitions/ObscureDuckTypeAbstractClass.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/TypeChaining/ProxiesDefinitions/ObscureDuckTypeVirtualClass.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/TypeChaining/TypeChainingFieldTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/ValueType/ProxiesDefinitions/IObscureDuckType.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/ValueType/ProxiesDefinitions/ObscureDuckTypeAbstractClass.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/ValueType/ProxiesDefinitions/ObscureDuckTypeVirtualClass.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/ValueType/ValueTypeFieldTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/GetAssemblyTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/ObscureObject.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ReferenceType/ProxiesDefinitions/IDuckTypeUnion.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ReferenceType/ProxiesDefinitions/IObscureDuckType.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ReferenceType/ProxiesDefinitions/ObscureDuckTypeAbstractClass.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ReferenceType/ProxiesDefinitions/ObscureDuckTypeStruct.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ReferenceType/ProxiesDefinitions/ObscureDuckTypeVirtualClass.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ReferenceType/ReferenceTypePropertyTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/TypeChaining/ProxiesDefinitions/IObscureDuckType.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/TypeChaining/ProxiesDefinitions/ObscureDuckTypeAbstractClass.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/TypeChaining/ProxiesDefinitions/ObscureDuckTypeStruct.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/TypeChaining/ProxiesDefinitions/ObscureDuckTypeVirtualClass.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/TypeChaining/TypeChainingPropertyTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ValueType/ProxiesDefinitions/IObscureDuckType.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ValueType/ProxiesDefinitions/ObscureDuckTypeAbstractClass.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ValueType/ProxiesDefinitions/ObscureDuckTypeStruct.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ValueType/ProxiesDefinitions/ObscureDuckTypeVirtualClass.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ValueType/ValueTypePropertyTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add documentation about FallbackToBaseTypes
  docs/development/DuckTyping.md
Due: none

Try to fix NUnit
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/ITestResult.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Bump NUnit version
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/integrations/Datadog.Dependabot.NUnit.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix(ducktype-aot): restore runner compatibility on netcoreapp2.1/2.2
  tracer/src/Datadog.Trace.Tools.Runner/DuckTypeAot/DuckTypeAotAttributeDiscovery.cs
  tracer/src/Datadog.Trace.Tools.Runner/DuckTypeAot/DuckTypeAotDiscoverMappingsProcessor.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add reference chain explorer tool for easier visualization
  Datadog.Profiler.sln
  profiler/src/Demos/Samples.Computer01/ReferenceChainScenarios.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer.slnx
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/App.xaml
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/App.xaml.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/Assets/ReferenceChainExplorer-icon.ico
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/Assets/ReferenceChainExplorer-icon.png
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/Converters/CategoryCodeToNameConverter.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/Converters/TypeIndexToNameConverter.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/MainWindow.xaml
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/MainWindow.xaml.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/ReferenceChainExplorer.csproj
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/Settings/UserSettings.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/Settings/UserSettingsStore.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/ViewModels/MainViewModel.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainExplorer/ViewModels/RelayCommand.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainModel/ForwardTreeBuilder.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainModel/ForwardTreeNode.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainModel/ForwardTreeNodeKind.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainModel/ReferenceChainModel.csproj
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainModel/ReferenceNode.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainModel/ReferenceRootNode.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainModel/ReferenceTree.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainModel/ReferenceTreeLoader.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainModel/ReverseChainBuilder.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainModel/ReverseChainNode.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainModel/RootCategoryHelper.cs
  profiler/src/Tools/ReferenceChainExplorer/ReferenceChainModel/TypeSummary.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Datadog.Profiler.IntegrationTests.csproj
  profiler/test/Datadog.Profiler.IntegrationTests/ReferenceChain/ReferenceChainTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ReferenceChainTest.cpp
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix(ducktype-aot): unblock CI across legacy TFMs and trimmed publish
  tracer/src/Datadog.Trace.Tools.Runner/DuckTypeAot/DuckTypeAotRegistryAssemblyEmitter.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/DuckTypeAotMappingMetadataCoverageTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

avoid terminating errors
  .azure-pipelines/steps/ensure-docker-ready.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

minor: update WCF tests to use `[CombinatorialOrPairwiseData]`
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WcfTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Explicitly remove scope from conditional weak table when disposing
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/BeforeSendReplyIntegration.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix(ducktype-aot): gate trimming suppressions by target framework
  tracer/src/Datadog.Trace.Tools.Runner/DuckTypeAot/DuckTypeAotRegistryAssemblyEmitter.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

AI attempts to repro the problem
  tracer/test/test-applications/integrations/Samples.Wcf/Client/ClientMessageInspector.cs
  tracer/test/test-applications/integrations/Samples.Wcf/Client/Startup.cs
  tracer/test/test-applications/integrations/Samples.Wcf/Samples.Wcf.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Probably a better approach to repro
  tracer/test/test-applications/integrations/Samples.Wcf/Client/CalculatorService.cs
  tracer/test/test-applications/integrations/Samples.Wcf/Client/ClientMessageInspector.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Make implementation conditional
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WcfTests.cs
  tracer/test/test-applications/integrations/Samples.Wcf/Client/CalculatorService.cs
  tracer/test/test-applications/integrations/Samples.Wcf/Client/Startup.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix(tests): unblock CI for ducktype and config telemetry
  tracer/test/Datadog.Trace.DuckTyping.Tests/GetAssemblyTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/ConfigurationTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Skip extraction from WCF headers as well as HTTP headers if there's already an active scope
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/WcfCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Also check for headers injected by Otel
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/WcfCommon.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add support for latest NUnit (#8246)
  docs/development/DuckTyping.md
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/integrations/Datadog.Dependabot.NUnit.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/ITestResult.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update snapshots
  tracer/test/snapshots/WcfTests.__metadataSchemaVersion=v0_binding=BasicHttpBinding_enableNewWcfInstrumentation=False_enableWcfObfuscation=False_useOtelClientInstrumentation=False.verified.txt
  tracer/test/snapshots/WcfTests.__metadataSchemaVersion=v0_binding=NetTcpBinding_enableNewWcfInstrumentation=False_enableWcfObfuscation=False_useOtelClientInstrumentation=True.verified.txt
  tracer/test/snapshots/WcfTests.__metadataSchemaVersion=v0_binding=NetTcpBinding_enableNewWcfInstrumentation=False_enableWcfObfuscation=True_useOtelClientInstrumentation=True.verified.txt
  tracer/test/snapshots/WcfTests.__metadataSchemaVersion=v0_binding=NetTcpBinding_enableNewWcfInstrumentation=True_enableWcfObfuscation=False_useOtelClientInstrumentation=True.verified.txt
  tracer/test/snapshots/WcfTests.__metadataSchemaVersion=v0_binding=NetTcpBinding_enableNewWcfInstrumentation=True_enableWcfObfuscation=True_useOtelClientInstrumentation=True.verified.txt
  tracer/test/snapshots/WcfTests.__metadataSchemaVersion=v1_binding=NetTcpBinding_enableNewWcfInstrumentation=False_enableWcfObfuscation=False_useOtelClientInstrumentation=True.verified.txt
  tracer/test/snapshots/WcfTests.__metadataSchemaVersion=v1_binding=NetTcpBinding_enableNewWcfInstrumentation=False_enableWcfObfuscation=True_useOtelClientInstrumentation=True.verified.txt
  tracer/test/snapshots/WcfTests.__metadataSchemaVersion=v1_binding=NetTcpBinding_enableNewWcfInstrumentation=True_enableWcfObfuscation=False_useOtelClientInstrumentation=True.verified.txt
  tracer/test/snapshots/WcfTests.__metadataSchemaVersion=v1_binding=NetTcpBinding_enableNewWcfInstrumentation=True_enableWcfObfuscation=True_useOtelClientInstrumentation=True.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix(ci): use vendored json namespace in ducktype metadata test
  AGENTS.md
  tracer/test/Datadog.Trace.DuckTyping.Tests/DuckTypeAotMappingMetadataCoverageTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

test(ducktyping): stabilize GetAssembly coverage assertion
  tracer/test/Datadog.Trace.DuckTyping.Tests/GetAssemblyTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Reduce per-span allocations and locks
  tracer/src/Datadog.Trace/Debugger/SpanCodeOrigin/SpanCodeOrigin.cs
  tracer/src/Datadog.Trace/Tagging/TagsList.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

TagsList.TagBatch against default use
  tracer/src/Datadog.Trace/Tagging/TagsList.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

guard methodtoekn
  tracer/src/Datadog.Trace/Debugger/SpanCodeOrigin/SpanCodeOrigin.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add entry code origin properties to WebTags and introduce a batch SetTag helper in TagsList that reserves capacity and preserves replace/remove semantics while setting multiple tags.
  tracer/src/Datadog.Trace/Debugger/SpanCodeOrigin/SpanCodeOrigin.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TagListGenerator/WebTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TagListGenerator/WebTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TagListGenerator/WebTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TagListGenerator/WebTags.g.cs
  tracer/src/Datadog.Trace/Tagging/TagsList.cs
  tracer/src/Datadog.Trace/Tagging/WebTags.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SpanCodeOriginTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add test
  tracer/test/Datadog.Trace.Tests/Debugger/SpanCodeOriginTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add tags name to Tags class
  tracer/src/Datadog.Trace/Tagging/WebTags.cs
  tracer/src/Datadog.Trace/Tags.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

replace TagBatch with fixed SetTags overloads
  tracer/src/Datadog.Trace/Debugger/SpanCodeOrigin/SpanCodeOrigin.cs
  tracer/src/Datadog.Trace/Tagging/TagsList.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SpanCodeOriginTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix build
  tracer/src/Datadog.Trace/Tagging/TagsList.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github
