Repository DataDog/dd-trace-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

.azure-pipelines/crank.yml:
  jobs:
  - job: windows_profiler
    pool:
      vmImage: windows-2019
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core runtime 3.1
      inputs:
        packageType: runtime
        version: 3.1.x
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
  ...

.azure-pipelines/iis-integration-tests.yml:
  jobs:
  - job: Windows
    pool:
      vmImage: windows-2019
    variables:
      buildPlatform: x64
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core 2.1 sdk
      inputs:
        packageType: sdk
        version: $(dotnetCore21SdkVersion)
    - task: DotNetCoreCLI@2
  ...

.azure-pipelines/integration-tests-experimental.yml:
  pool:
    vmImage: ubuntu-18.04
  jobs:
  - job: Windows
    timeoutInMinutes: 80
    strategy:
      matrix:
        x64:
          buildPlatform: x64
          enable32bit: false
        x86:
          buildPlatform: x86
          enable32bit: true
    pool:
      vmImage: windows-2019
    variables:
  ...

.azure-pipelines/integration-tests.yml:
  jobs:
  - job: Linux
    strategy:
      matrix:
        netcoreapp2_1:
          dotnetCoreSdkVersion: 2.1.x
          publishTargetFramework: netcoreapp2.1
        netcoreapp3_0:
          dotnetCoreSdkVersion: 3.0.x
          publishTargetFramework: netcoreapp3.0
        netcoreapp3_1:
  ...

.azure-pipelines/internal-ciapp-pipeline.yml:
  stages:
  - stage: merge_commit_id
    dependsOn: []
    jobs:
    - job: fetch
      timeoutInMinutes: 60
      pool:
        name: azure-linux-task-scale-set
      steps:
      - checkout: none
  ...

.azure-pipelines/managed-unit-tests.yml:
  strategy:
    matrix:
      windows:
        imageName: windows-2019
      linux:
        imageName: ubuntu-16.04
  pool:
    vmImage: $(imageName)
  steps:
  - task: DotNetCoreInstaller@0
    displayName: install dotnet core sdk
    inputs:
      version: 2.2.300
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
  ...

.azure-pipelines/native-unit-tests.yml:
  jobs:
  - job: windows
    strategy:
      matrix:
        x64:
          buildPlatform: x64
        x86:
          buildPlatform: x86
    pool:
      vmImage: windows-2019
    steps:
    - task: NuGetCommand@2
      displayName: nuget restore
      inputs:
        restoreSolution: Datadog.Trace.Native.sln
  ...

.azure-pipelines/runner.yml:
  jobs:
  - job: build_linux_profiler
    steps:
    - task: UseDotNet@2
      displayName: install dotnet core sdk 5.0
      inputs:
        packageType: sdk
        version: $(dotnetCoreSdk5Version)
        includePreviewVersions: true
    - task: DotNetCoreCLI@2
  ...

changes from review
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/MsTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/SkipTestMethodExecutor.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteTestIntegration.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fix the system-tests parametric tests (#7076)
  .azure-pipelines/ultimate-pipeline.yml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add test applications
  profiler/src/Tools/AllocationSampling/Allocate/Allocate.csproj
  profiler/src/Tools/AllocationSampling/Allocate/AllocateArraysOfDoubles.cs
  profiler/src/Tools/AllocationSampling/Allocate/AllocateDifferentTypes.cs
  profiler/src/Tools/AllocationSampling/Allocate/AllocateRatioSizedArrays.cs
  profiler/src/Tools/AllocationSampling/Allocate/AllocateSmallAndBig.cs
  profiler/src/Tools/AllocationSampling/Allocate/AllocationsRunEventSource.cs
  profiler/src/Tools/AllocationSampling/Allocate/IAllocations.cs
  profiler/src/Tools/AllocationSampling/Allocate/Program.cs
  profiler/src/Tools/AllocationSampling/Allocate/Properties/launchSettings.json
  profiler/src/Tools/AllocationSampling/Allocate/ThreadedAllocations.cs
  profiler/src/Tools/AllocationSampling/AllocationProfiler/AllocationProfiler.csproj
  profiler/src/Tools/AllocationSampling/AllocationProfiler/Program.cs
  profiler/src/Tools/AllocationSampling/AllocationProfiler/Properties/launchSettings.json
  profiler/src/Tools/AllocationSampling/AllocationSampling.sln
  profiler/src/Tools/AllocationSampling/README.md
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

fix comment
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecurityCoordinatorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

comment
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecurityCoordinatorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

test
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecurityCoordinatorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update GitHub action to use the GitHub App instead of external token
  .github/actions/deploy-aas-dev-apps/action.yml
  .github/workflows/auto-trigger-aas-release.yml
  .github/workflows/auto_deploy_aas_test_apps.yml
  .github/workflows/code_freeze_start.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/scheduled_aas_deploy.yml
Due: none

chore(telemetry): track whether tracing was enabled via ssi (#6938)
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ConfigTelemetryData.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add 3.7 Kinesis integration
  tracer/build/supported_calltargets.g.json
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/AwsKinesisCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IAmazonKinesisRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IAmazonKinesisRequestWithStreamName.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IAmazonKinesisRequestWithStreamNameAndStreamArn.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IPutRecordRequestV3_7.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IPutRecordsRequestV3_7.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordAsyncV3_7Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordV3_7Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordsAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordsAsyncV3_7Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordsIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordsV3_7Integration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/Kinesis/AwsKinesisCommonTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Use spin wait
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsWriter.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Revert "add 3.7 Kinesis integration"
  tracer/build/supported_calltargets.g.json
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/AwsKinesisCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IAmazonKinesisRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IAmazonKinesisRequestWithStreamName.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IAmazonKinesisRequestWithStreamNameAndStreamArn.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IPutRecordRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IPutRecordRequestV3_7.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IPutRecordsRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IPutRecordsRequestV3_7.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordAsyncV3_7Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordV3_7Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordsAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordsAsyncV3_7Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordsIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordsV3_7Integration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/Kinesis/AwsKinesisCommonTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

One final perf test
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsWriter.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Fixed spinwait build
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsWriter.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Switched back to async, implemented implified WaitAsync
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsWriter.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Tracer] Add sampling tags during serialization (#5360)
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/TraceChunkModel.cs
  tracer/src/Datadog.Trace/AppSec/AppSecRateLimiter.cs
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/Ci/Sampling/CISampler.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSuiteSpanTags.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Sampling/AgentSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/CustomSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/GlobalSamplingRateRule.cs
  tracer/src/Datadog.Trace/Sampling/ISamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/LocalCustomSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/RateLimiter.cs
  tracer/src/Datadog.Trace/Sampling/RemoteCustomSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/SamplingDecision.cs
  tracer/src/Datadog.Trace/Sampling/SamplingMechanism.cs
  tracer/src/Datadog.Trace/Sampling/SpanRateLimiter.cs
  tracer/src/Datadog.Trace/Sampling/TraceSampler.cs
  tracer/src/Datadog.Trace/Sampling/TracerRateLimiter.cs
  tracer/src/Datadog.Trace/Tagging/CommonTags.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/TraceTags.cs
  tracer/test/Datadog.Trace.TestHelpers/MockApi.cs
  tracer/test/Datadog.Trace.Tests/Agent/AgentWriterTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/TraceSamplerTests.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TagsListTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests_SetSamplingDecision.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Simplified aggregator
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Aggregation/DataStreamsAggregator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

update trimming file
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

add new project for nuget package
  tracer/build/_build/Build.Steps.cs
  tracer/src/Datadog.AzureFunctions/.gitignore
  tracer/src/Datadog.AzureFunctions/Datadog.AzureFunctions.csproj
  tracer/src/Datadog.AzureFunctions/Directory.Build.props
  tracer/src/Datadog.AzureFunctions/README.md
  tracer/src/Datadog.AzureFunctions/build-package.ps1
  tracer/src/Datadog.AzureFunctions/icon.png
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Trying something else
  tracer/test/test-applications/integrations/Samples.GraphQL4/Startup.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

exclude vendored files, update global usings
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Trace/GlobalUsings.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

update using directives in tests
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/LineProbeResolverTest.cs
  tracer/test/Datadog.Trace.Tests/Debugger/EndpointDetectorTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

skip irrelevant tests
  tracer/test/Datadog.Trace.Tests/VendoredCodeTests.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

update assembly reference snapshots
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.AssemblyReferencesHaveNotChanged.net6.0.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.AssemblyReferencesHaveNotChanged.netcoreapp3.1.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Simple testing
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Aggregation/DataStreamsAggregator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Quick fix
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsWriter.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Cleanup
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Aggregation/DataStreamsAggregator.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Test Optimization] Add support for MSTest 3.9.x (#7070)
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_calltargets.g.json
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/ITestMethodInfo.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/ITestMethodRunner.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/MsTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/SkipTestMethodExecutor.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestAssemblyInfoRunAssemblyInitializeIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestClassInfoExecuteClassCleanupIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestClassInfoRunClassInitializeIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodAttributeExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TypeCacheGetTestMethodInfoIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunSingleTestAsyncIntegration3_8.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunSingleTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunSingleTestIntegration3_8.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/test-applications/integrations/Samples.MSTestTests/Samples.MSTestTests.csproj
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

[Test Package Versions Bump]
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Update waf version to v1.25.1
  tracer/build/_build/Build.Steps.cs
  tracer/build/smoke_test_snapshots/smoke_test_iis_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabled.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabledWithBadRuleset.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Retry failed tests with debug
  tracer/test/Datadog.Trace.TestHelpers/CustomTestFramework.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add libdatadog for integration tests
  tracer/build/_build/Projects.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Add interop structs
  tracer/src/Datadog.Trace/LibDatadog/Error.cs
  tracer/src/Datadog.Trace/LibDatadog/ResultTag.cs
  tracer/src/Datadog.Trace/LibDatadog/ServiceDiscovery/TracerMemfdHandle.cs
  tracer/src/Datadog.Trace/LibDatadog/ServiceDiscovery/TracerMemfdHandleResult.cs
  tracer/src/Datadog.Trace/LibDatadog/ServiceDiscovery/Utils.cs
  tracer/src/Datadog.Trace/LibDatadog/VecU8.cs
Due: .azure-pipelines/crank.yml, .azure-pipelines/iis-integration-tests.yml, .azure-pipelines/integration-tests-experimental.yml, .azure-pipelines/integration-tests.yml, .azure-pipelines/internal-ciapp-pipeline.yml, .azure-pipelines/managed-unit-tests.yml, .azure-pipelines/native-unit-tests.yml, .azure-pipelines/runner.yml, .azure-pipelines/ultimate-pipeline.yml, .azure-pipelines/unit-tests-experimental.yml, .azure-pipelines/unit-tests.yml

Path conditions:
  .azure-pipelines/crank.yml: any file but: docs, .github
  .azure-pipelines/iis-integration-tests.yml: any file but: docs, .github
  .azure-pipelines/integration-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/integration-tests.yml: any file but: docs, .github
  .azure-pipelines/internal-ciapp-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/ultimate-pipeline.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/test, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig
  .azure-pipelines/managed-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/native-unit-tests.yml: any file but: docs, .github
  .azure-pipelines/runner.yml: any file but: docs, .github
  .azure-pipelines/ultimate-pipeline.yml: any file but: .azure-pipelines/noop-pipeline.yml, .azure-pipelines/monitoring.yml, .github, docs, tracer/README.MD, tracer/dependabot, tracer/tools/PipelineMonitor, LICENSE, LICENSE-3rdparty.csv, NOTICE, .vsconfig, shared/samples/Datadog.AutoInstrumentation.ManagedLoader.Demo, shared/src/managed-lib/ManagedLoader, shared/samples/Datadog.DynamicDiagnosticSourceBindings.Demo, shared/src/managed-lib/DynamicDiagnosticSourceBindings, shared/samples/Datadog.Logging.Demo, shared/src/managed-src/Datadog.Collections, shared/src/managed-src/Datadog.Util, shared/src/managed-src/Datadog.Logging.Emission, shared/src/managed-src/Datadog.Logging.Composition, shared/src/managed-src/Datadog.Logging, shared/src/native-lib/fmt_x64-windows-static, shared/src/native-lib/fmt_x86-windows-static, shared/src/native-lib/spdlog, shared/src/native-src
  .azure-pipelines/unit-tests-experimental.yml: any file but: docs, .github
  .azure-pipelines/unit-tests.yml: any file but: docs, .github
